#chartRoot {
    height: 100%;
}
#left {
    float: left;
    height: 100%;
}
#right {
    height: 100%;
    vertical-align: middle;
}
.dropdown-style {
    background: white;
    font-size: 12px;
    font-family: 'Lucida Grande';
}
.dropdown-style option {
    padding: 0.3em;
    text-align: right;
    background: white;
    overflow: hidden;
}
.dropdown-style:focus {
    outline: 0;
}
#X {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
#Y {
    width: 35%;
    position: absolute;
    right: 90%;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 12px;
    text-align: center;
}
#Xaxis {
    width: 50%;
}
#Yaxis {
    width: 60%;
}
#chartContainer {
    width: 95%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}
#controlContainer {
    width: 90%;
    height: 50px;
    margin-top: 30px;
    text-align: right;
    font-size: 10px;
}
#myChart {
    height: 100%;
}
.showHideButton {
    float: right;
}
.showHideButton:hover {
    color: #ff6600;
}
.noselect {
    text-align: center;
    font-family: 'Lucida Grande';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.chartRoot .chart-container {
	line-height: normal
}
