.columnUi {
	font-size: 0.8em;
	vertical-align: top;
}
.columnUi tr {
	vertical-align: top;
	white-space: nowrap;
}
.columnUi input {
	margin-top: -4px;
}
.columnUi .columnTitle,
.columnUi .field {
	font-size: 1em;
	width: 95%;
	text-align: center;
	background-color: transparent;
}
.columnUi .moveHandle {
	vertical-align: middle;
	background-color: #eeeeee;
	width: 100%;
	height: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline-block;
	cursor: ew-resize;
}
.columnUi .more {
	vertical-align: middle;
	margin-top: 3px;
	margin-left: -21px;
	display: inline-block;
	line-height: normal;
}
.columnUi .hoverShow.recede,
.columnUi .select2-arrow.recede {
	visibility: hidden;
}
.columnUi .columnTitle.recede,
.columnUi .field.recede,
.columnUi .select2-choice.recede {
	border-color: transparent;
	background-image: none;
	box-shadow: none;
}
.columnUi .sidebar,
.columnUi .plot {
	display: inline-block;
}
.columnUi .samplePlot {
	vertical-align: bottom;
}
.columnUi .crosshairPlot {
	position: relative;
	cursor: none;
}
