.columnEdit .tupleLabel {
	min-width: 5em;
}
.columnEdit .egValueTd {
	padding-bottom: 0
}
.columnEdit .eg {
	font-size: 0.9em;
	padding-left: 0.5em;
	padding-top: 0;
}
.columnEdit .inputMode1td {
	padding-top: 0;
}
.columnEdit .listLabel {
	vertical-align: top;
}
.columnEdit .list {
	width: 100%;
}
.columnEdit .geneValues {
	white-space: nowrap;
}
.columnEdit .singleMsg {
	color: red;
}
.columnEdit .advancedLabel {
	cursor: pointer;
}
.columnEdit .advancedLabel:hover {
	text-decoration: underline;
}
