.columnUi {
	font-size: 0.8em;
	vertical-align: top;
}
.columnUi tr {
	vertical-align: top;
	white-space: nowrap;
}
table.columnUi td.fullWidth {
	padding-right: 2px;
}
.columnUi input {
	margin-top: -4px;
}
.columnUi .columnTitle,
.columnUi .field {
	font-size: 1em;
	width: 95%;
	text-align: center;
	background-color: transparent;
}
.columnUi .moveHandle {
	vertical-align: middle;
	background-color: #eeeeee;
	width: 100%;
	height: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-bottom: 4px;
	display: inline-block;
	cursor: ew-resize;
	text-align: center;
}
.columnUi .moveHandle .ui-icon {
	transform: scale(1.5);
	cursor: ew-resize;
  	display: inline-block;
	line-height: normal;
	vertical-align: top;
	text-align: center;
}
.columnUi .more {
	vertical-align: middle;
	margin-top: 3px;
	margin-left: -21px;
	display: inline-block;
	line-height: normal;
}
.columnUi .hoverShow.recede,
.columnUi .select2-arrow.recede {
	visibility: hidden;
}
.columnUi .columnTitle.recede,
.columnUi .field.recede,
.columnUi .select2-choice.recede {
	border-color: transparent;
	background-image: none;
	box-shadow: none;
}
.columnUi .sidebar,
.columnUi .plot {
	display: inline-block;
}
.columnUi .samplePlot {
	vertical-align: bottom;
}
.columnUi .crosshairPlot {
	position: relative;
	cursor: none;
}
.columnUi .colorBarLabel,
.columnUi .color {
	width: 100%;
	margin-top: 0;
	/*text-overflow: ellipsis;*/
	font-size: 1em;
	border: none;
	background-image: none;
	box-shadow: none;
	line-height: normal;
	height: 1.2em;
	cursor: default;
}
.columnUi .colorBarLabel {
	margin-top: 7px;
	margin-bottom: 3px;
}
.columnUi .colorBarLabel.mutationVector {
	margin-top: 0;
}
.columnUi .colorTd {
	text-align: center;
	padding-right: 12px;
}
.columnUi .colorTd.mutationVector {
	padding: 0 18px 0 7px;
}
.columnUi .color {
	padding: 2px 5px 2px 5px;
	border-left: 1px #bbbbbb solid;
	border-right: 1px #bbbbbb solid;
	overflow: hidden;
	line-height: normal;
}
.columnUi .color.center {
	max-width: 5em;
}
/*
.columnUi .color.left {
	width: 100%;
}
*/

