.columnUi {
	/*background-color: #ffeeee;*/
	font-size: 0.8em;
	vertical-align: bottom;
	/*border: 1px dashed transparent;*/
}
/* recedeback
.columnUi.new {
	border-color: grey;
}
*/
.columnUi tr {
	/* vertical-align: top;*/
	white-space: nowrap;
}
.columnUi .hideOnNew.new {
	display:none;
}
.columnUi input {
	margin-top: -4px;
}
.columnUi .columnTitle,
.columnUi .field {
	font-size: 1em;
	width: 95%;
	text-align: center;
	background-color: transparent;
}
.columnUi .columnTitle.defalt,
.columnUi .field.defalt {
	font-style: italic;
	color: #666666;
}
.columnUi .more {
	margin-bottom: 3px;
	display: inline-block;
}
.columnUi .hoverShow.recede,
.columnUi .select2-arrow.recede {
	visibility: hidden;
}
.columnUi .columnTitle.recede,
.columnUi .field.recede,
.columnUi .select2-choice.recede {
	border-color: transparent;
	background-image: none;
	box-shadow: none;
}
.columnUi .sidebar,
.columnUi .plot {
	display: inline-block;
}
.columnUi .samplePlot {
	vertical-align: bottom;
}
.columnUi .headerPlotRow {
	line-height: 1px;
}
.columnUi .crosshairPlot {
	position: relative;
	cursor: crosshair;/* TODO none; */
}
