.columnUi {
	background-color: #ffeeee;
	/*border: 1px dashed transparent;*/
}
/*
.columnUi.new {
	border-color: grey;
}
*/
.columnUi .header {
	vertical-align: top;
	white-space: nowrap;
}
.columnUi .hideOnNew.new {
	display:none;
}
.columnUi .columnTitle {
	font-size: 0.75em;
	/*border: 0px;*/
	background-color: rgba(0,0,0,0);
}
.columnUi .columnTitle.untitled {
	font-style: italic;
	/*color: #cccccc;*/
}
.columnUi .more {
	display: inline-block;
}
.columnUi .meek.recede,
.columnUi .select2-arrow.recede {
	visibility: hidden;
}
.columnUi .select2-choice.recede {
	border-color: transparent;
	background-image: none;
	box-shadow: none;
}
.columnUi .sidebar,
.columnUi .plot {
	/*background-color: #ffffff;*/
	display: inline-block;
}
.columnUi .samplePlot {
	vertical-align: bottom;
}
.columnUi .crosshairPlot {
	position: relative;
	cursor: none;
}
