.crosshair {
	display: none;
	position: fixed;
	background-image:url('../images/dots.gif');
	pointer-events: none;
	z-index: 999999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.crosshairH {
	width: 100%;
	height: 1px;
}
.crosshairV {
	height: 100%;
	width: 1px;
}
