.crosshairs {
	position: relative;
	pointer-events: none;
	z-index: 999999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.crosshair {
	background-image:url('../images/dots.gif');
	position: fixed;
}
.crosshairH {
	height: 1px;
	left: 0px;
	width: 100%;
}
.crosshairV {
	height: 100%;
	top: 0px;
	width: 1px;
}
