/* default elements */
@import url("lib/jquery-ui.css");

#main *{
  margin:0;
  padding:0
}

/* Layout */
body #main
{
margin: 0;
padding:0;
font-family: arial, Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
background-color:#ffffff;
list-style:none;
}

#main a:hover
{
color:#ff6600;
}

#main .tb5 {
  border-radius: 5px;
	border:1px solid #456879;
	height: 30px;
	width: 400px;
	padding: 2px 10px;
	font-size: 16px;
	margin-bottom: 10px;
	color:gray;
}

#main .searchBox {
  border-radius: 5px;
  border:1px solid gray;
  height: 30px;
  width: 60%;
  padding: 2px 10px;
  font-size: 16px;
  margin-top: 20px;
}
#main .searchBox:disabled {
  border:1px solid light-gray;
  color :gray;
}

#main a:link
{
font-weight:normal;
font-style:normal;
text-decoration:none;
}

#main a:visited
{
font-style:normal;
font-weight:normal;
text-decoration:none;
}


#main a:hover
{
color:#ff6600;
font-style:normal;
text-decoration:none;
}


#main label
{
color:#006600;
margin-right: 3px;
margin-top: 5px;
margin-bottom: 5px;
}

#main .textLink
{
margin: 10px;
display: inline-block;
}

#main labelsameLength
{
margin-top: 5px;
margin-bottom: 5px;
display: inline-block;
width: 150px;
}

#main result
{
color:black;
margin-right: 2px;
}

#main result2 a
{
color:gray;
margin-right: 2px;
}

#main resultsameLength
{
display: inline-block;
width: 70%;
vertical-align: middle;
margin-top: 5px;
margin-bottom: 5px;
}

#main summary
{
color:#505050;
margin-top: 5px;
font-size: 0.8em;
}

#main .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
}

#main #content-container
{
float: left;
width: 100%;
}

#sidebar {
float:right;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
width: 20%;
}
#dataPagesMain {
width:80%;
}

#dataset,#cohort,#dataType,#others,#description,#samples,#host,#hub
{
padding-top:15px;
margin-left: auto;
margin-right: 25px;
width: 80%;
}

#cohortList a
{
margin-top:15px;
margin-bottom:15px;
display: inline-block;
}

#bigDataSnippet
{
  width:95%;
  margin-left: auto;
  margin-right: auto;
}

#dataset h2,#hub h2,#cohort h2
{
color:#404040;
margin-top: 20px;
margin-bottom: 20px;
}

#main #cohort h3 a,#dataset h3 a
{
margin-top: 20px;
font-size:1.3em;
font-weight: bold;
}

#main #dataType header,#samples header,#others header
{
font-size:1.2em;
}

#main #dataType li
{
color:#0033FF;
margin-left: 50px;
margin-top: 5px;
margin-bottom: 5px;
}

#main .vizbutton
{
padding: 3px 6px;
font-size:small;
margin: 5px 10px;
vertical-align: 5%;
}

.vizbutton:hover
{
color:#ff6600;
}
.vizbutton:disabled
{
color:gray;
}

.hubcheck {
height: 20px;
width: 20px;
border-radius: 10px;
border:1px solid gray;
vertical-align: middle;
-moz-appearance:none;
-webkit-appearance:none;
-o-appearance:none;
}

.hubcheck:checked {
background: linear-gradient(gray, white);
}

.hubcheck:focus {
outline: 0;
}
#main .hubcheck + label
{
display: inline-block;
margin-left: 15px;
width:100px;
font-weight: normal;
}

#main .galaxyText {
color:gray;
font-size: 90%;
margin-left: 15px;
}

.dataSnippetTable
{
border-collapse:collapse;
width: 100%;
}

.dataSnippetTable tr td
{
border: 5px solid rgb(225,225,225);
text-align: right;
word-wrap: break-word;
color: #505050;
font-size: 85%;
max-width: 100px;
min-width: 30px;
}

.spinner{
  width:100px;
  height:100px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: rotating 2s linear infinite reverse;
}

@keyframes rotating {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@-webkit-keyframes rotating {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}

.spinner.circles div{
  width: 10px;
  height: 10px;
  border-radius:50%;
  background: black;
  position: absolute;
  top: 45px;
  left: 45px;
}
.spinner.circles div:nth-child(1){
  -webkit-transform: rotate(0deg) translate(0, -35px);
  transform: rotate(0deg) translate(0, -35px);
}
.spinner.circles div:nth-child(2){
  -webkit-transform: rotate(45deg) translate(0, -35px);
  transform: rotate(45deg) translate(0, -35px);
  opacity:0.7;
}
.spinner.circles div:nth-child(3){
  -webkit-transform: rotate(90deg) translate(0, -35px) ;
  transform: rotate(90deg) translate(0, -35px) ;
  opacity:0.6;
}
.spinner.circles div:nth-child(4){
  -webkit-transform: rotate(135deg) translate(0, -35px) ;
  transform: rotate(135deg) translate(0, -35px) ;
  opacity:0.5;
}
.spinner.circles div:nth-child(5){
  -webkit-transform: rotate(180deg) translate(0, -35px) ;
  transform: rotate(180deg) translate(0, -35px) ;
  opacity:0.4;
}
.spinner.circles div:nth-child(6){
  -webkit-transform: rotate(225deg) translate(0, -35px) ;
  transform: rotate(225deg) translate(0, -35px);
  opacity:0.3;
}
.spinner.circles div:nth-child(7){
  -webkit-transform: rotate(270deg) translate(0, -35px);
  transform: rotate(270deg) translate(0, -35px);
  opacity:0.2;
}
.spinner.circles div:nth-child(8){
  -webkit-transform: rotate(315deg) translate(0, -35px);
  transform: rotate(315deg) translate(0, -35px);
  opacity:0.1;
}

