/* default elements */

#main *{
  margin:0;
  padding:0
}

/* Layout */
body #main
{
margin: 0;
padding:0;
font-family: arial, Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
background-color:#ffffff;
list-style:none;
}

#main a:hover
{
color:#ff6600;
}

#main #content-container
{
float: left;
width: 100%;
}

#dataPagesMain {
margin-top: 40px;
width:85%;
}

#sidebar {
float:right;
margin-top: 40px;
margin-right: 15px;
width: 20%;
}

/* Rounded Corner */
#main .tb5 {
	border:1px solid #456879;
	border-radius:20px;
	height: 22px;
	width: 300px;
	padding: 2px 10px;
	font-size: 16px;
	margin: 5px;
	color:gray;
}
#main .tb5:focus {
    outline: 0;
}

#main a:link
{
font-weight:normal;
font-style:normal;
text-decoration:none;
}

#main a:visited
{
font-style:normal;
font-weight:normal;
text-decoration:none;
}


#main a:hover
{
color:#ff6600;
font-style:normal;
text-decoration:none;
}


#main label
{
color:#006600;
margin-right: 3px;
margin-top: 5px;
margin-bottom: 5px;
}

#main labelsameLength
{
margin-top: 5px;
margin-bottom: 5px;
display: inline-block;
width: 150px;
}

#main result
{
color:black;
margin-right: 2px;
}

#main result2 a
{
color:gray;
margin-right: 2px;
}

#main resultsameLength
{
display: inline-block;
width: 70%;
vertical-align: middle;
margin-top: 5px;
margin-bottom: 5px;
}

#main summary
{
color:#505050;
margin-top: 5px;
font-size: 0.8em;
}

#main .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
}

#dataPagesMain h2
{
color:#000099;
margin-left: auto;
margin-right: auto;
width: 65%;
}

#cohort,#dataType,#dataset,#others,#description,#samples,#host,#hub
{
padding:15px;
margin-left: auto;
margin-right: auto;
width: 65%;
}

#dataset h2,#hub h2
{
color:#000099;
margin-top: 20px;
}

#main #cohort h3 a,#dataset h3 a
{
margin-top: 20px;
font-size:1.3em;
font-weight: bold;
}

#main #cohort h4 multiple
{
margin-top: 9px;
margin-bottom: 9px;
display:inline-block;
}

#main #dataType header,#samples header,#others header
{
font-size:1.2em;
}

#main #dataType li
{
color:#0033FF;
margin-left: 50px;
margin-top: 5px;
margin-bottom: 5px;
}

#main .vizbutton
{
padding: 4px 6px;
font-size:small;
margin: 5px 10px;
vertical-align: 5%;
}

.vizbutton:hover
{
color:#ff6600;
}

input.switch
{
  display: none;
}

input.switch:empty ~ label
{
  position: relative;
  float: left;
  line-height: 1em;
  text-indent: 4em;
  cursor: pointer;
  vertical-align: middle;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3em;
  background-color: gray;
  border-radius: 0.2em;
  -webkit-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}

input.switch:empty ~ label:after
{
  width: 1em;
  top: 0em;
  bottom: 0em;
  margin-left: 1.7em;
  background-color: rgb(200,200,200);
  border-radius: 0.5em;;
}

input.switch:checked ~ label:before
{
  background-color: rgb(10, 10, 175);
}

input.switch:checked ~ label:after
{
  background-color: white;
  margin-left: 0.25em;
}

#main .switch + label
{
  width:150px;
  margin:0;
  font-weight: normal;
}

.dataSnippetTable
{
border-collapse:collapse;
width: 100%;
}

.dataSnippetTable tr td
{
border: 5px solid rgb(225,225,225);
text-align: right;
word-wrap: break-word;
color: #505050;
font-size: 85%;
max-width: 100px;
min-width: 30px;
}


