/* green: hover, default, and other transients.
   tags req'd for hover on safari v5.0.1 on snow leopard */
.menu li:hover:not(.disabled):not(.noSelect),
.cluetip-inner.ui-widget-content,
.dataTable tbody tr:hover,
ul.mapIndex > li.hover,
ul.mapIndexLabels > li.hover,
.hghList li:hover,
#tooltip {
	background: #bbe63f;
	background: -moz-linear-gradient(top, #e4ff9d, #bbe63f); /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom,from(#e4ff9d), to(#bbe63f)); /* Webkit */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4ff9d', endColorstr='#bbe63f'); /* IE */
	border-top-color: #e4ff9d;
	border-bottom-color: #bbe63f;
}

/* blue: selected */
.ui-button.selected {
	background: #c6e1ff;
	background-color: #c6e1ff;
	background: -moz-linear-gradient(top, #e8f5ff, #c6e1ff); /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom,from(#e8f5ff), to(#c6e1ff)); /* Webkit */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f5ff', endColorstr='#c6e1ff'); /* IE */
}

.ui-dialog,
.menu ul,
.menu .list,
#tooltip {
	box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}
#body {
	font-family: Verdana,Arial,sans-serif;
	margin: 0;
	background: #ffffff;
}
table {
	border-collapse: collapse;
	font-size: inherit;
}
table td {
	padding: 0;
}
a:focus {
	outline: none;
}
hr {
	border-color: #ffffff;
	margin-top: 4px;
	margin-bottom: 0;
}
