/* clueTip overrides */
div.ui-cluetip {
    font-size: .8em;
}
.cluetip-inner {
	border: 0px;
	border-radius: 5px;
}
.ui-widget-content a {
	color: #3a6fff;
}
div.clue-right-rounded .cluetip-arrows {
	border-right-color: #f00;
}
div.clue-top-rounded .cluetip-arrows {
	border-top-color: #f00;
}
div.clue-left-rounded .cluetip-arrows {
	border-left-color: #f00;
}
div.clue-bottom-rounded .cluetip-arrows {
	border-bottom-color: #f00;
}
.ui-cluetip-header, .ui-cluetip-content {
    padding: .4em .4em .4em .7em;
}

/* jQuery-UI overrides */
.ui-widget {
	font-size: .8em;
}
.ui-widget-content {
	background-color: white;
	background-image: none;
}
.ui-icon {
	cursor: pointer;
}
.ui-button {
    margin-right: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
	width: 19px;
	height: 19px;
}
.ui-buttonset .ui-button {
    margin-right: -1px;
}
/*
.ui-button-text-only .ui-button-text {
	font-size: .85em;
}
*/
.ui-button-text-only .ui-button-text, input.ui-button {
	padding: .1em .4em;
}
.ui-dialog .ui-dialog-titlebar {
	height: 1.2em;
}
.ui-dialog .ui-dialog-content {
	padding-top: .8em;
	padding-left: .8em;
	padding-right: .8em;
}
.ui-dialog .ui-dialog-content p {
	margin-top: 0;
	margin-bottom: .8em;
}
.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
	margin: 0;
}
.ui-resizable-handle {
	z-index: auto;
}
