.menu {
	cursor: pointer;
	font-weight: normal;
	position: static;
}
div.menu.hoverToOpen:hover ul:not(.clicked) { /* tags req'd for hover on safari v5.0.1 on snow leopard */
	display: block;
}
.menu ul, .menu .list {
	display: none;
	position: absolute;
	z-index: 9999999;
	background: #f4f4f4;
	border-radius: 0 0 7px 7px;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
}
.menu ul {
	list-style: none;
	padding: .3em 0;
	margin: 0;
}
.menu li {
	position: auto;
	padding: .15em .5em .15em .5em;
	font-weight: normal;
	text-align: left;
}
.menu li.noSelect {
	padding: .15em .5em;
	text-indent: 0;
}
.menu li.noSelect,
.menu li.disabled {
	cursor: auto;
}
.menu li.disabled {
	color: #aaaaaa;
}
.menu a {
	text-decoration: none;
	color: inherit;
}

