#navBrand {
	/* ucsc: white to dark blue */
	background-color: #a0a0a0;
	background: -moz-linear-gradient(left, #ffffff, #003d65); /* Mozilla */
	background: -webkit-gradient(linear, left center, right center,from(#ffffff), to(#003d65)); /* Webkit */
}
#navBar, #navShort {   /* xena top banner */
	font-family: arial, Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	background-color: #303030;
	color: #ffffff;
}
#navTall {
	margin: 0;
}
#navBrand {
	margin: 0;
	padding: .1em .3em;
}
.ucscLogoShort {
	padding-left: 3px;
	padding-top: 3px;
}
.ucscLogoTall {
	padding-left: 5px;
	padding-top: 5px;
}
.navTitleShort, .navTitleTall {
	font-weight: bold;
	text-align: right;
	padding-right: .5em;
	color: #fff;
}
.navTitleShort {
	font-size: small;
}
.navTitleTall {
	font-size: small;
}

#navPageHome #navHome,
#navPageBrowser #navBrowser, 
#navPageHelp #navHelp { /* double IDs so active menu is bold */
	color: #ffffff; /*#b2d235;*/
	font-weight: bold;
}
#navMenuMain .menu:not(:hover),
.navLink {
	color: #ffffff;
	font-weight: normal;
}
#navHelp ul {
	margin-left: 18.1em;
	margin-top: 0em;
}
#navMenuMain .menu li,
#navMenuMain .menu a {
	color: #003d65;
}
#navMenuMain .menu,
.navLink,
.navSignInOut {
	text-decoration: none;
	margin: 0 1em;
}
#navMenuMain a.menu:hover,
#navMenuMain div.menu:hover { /* tags included for safari v5.0.1 on snow leopard */
	color: #ff6600; /*#d0f020;*/
}
a.navLink:hover,
a.navSignInOut:hover { /* tags included for safari v5.0.1 on snow leopard */
	color: #d0f020;
}
.auth * {
	color: #ffffff;
}
.authHello {
	margin-left: 1em;
	margin-right: 1em;
}
