.navbar .nav li a:hover {
	background-color:#e7e7e7
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#ff6600; /* or color: black; */
	background-color:white;
}