.sheetWrap {
	line-height: 1px;
	/*background-color: #ffeeee;*/
	display: inline-block;
	margin-left: 5px;
}
.sheetWrap>.header {
	font-size: 0.85em;
	margin-top: 5px;
}
.sheetWrap>.header label {
	margin-left: 10px;
}
.sheetWrap>.header .sources {
	font-size: 1em;
	width: 20em;
}
.sheetWrap .showLegend {
	vertical-align: bottom;
}
.sheetWrap .addColumn {
	font-size: 1.5em;
	line-height: 3;
	cursor: pointer;
	vertical-align: top;
}
.sheetWrap .debug {
	background: Lavender;
}
.sheetWrap .debug button {
	vertical-align: top;
}
