.sheetWrap {
	line-height: 1px;
	display: inline-block;
	margin-left: 5px;
	padding-bottom: 100px;
}
.sheetWrap>.header {
	font-size: 0.85em;
	margin-top: 5px;
}
.sheetWrap>.header label {
	margin-left: 10px;
}
.sheetWrap>.header .servers {
	font-size: 1em;
	width: 30em;
}
.sheetWrap .yAxisLabel {
	display: none;
	font-size: 1.1em;
	transform: rotate(270deg);
	width: 12em;
	margin-left: -5em;
	margin-right: -5em;
}
.sheetWrap .body {
	vertical-align: top;
}
.sheetWrap .showLegend {
	vertical-align: bottom;
}
.sheetWrap .addColumn {
	font-size: 2em;
	line-height: 3;
	cursor: pointer;
	vertical-align: top;
}
.sheetWrap .debug button {
	vertical-align: top;
}
