.sheetWrap {
	width: 100%;
	line-height: 1px;
	display: inline-block;
	padding-bottom: 100px;
}
.sheetWrap>.header {
	font-size: 0.85em;
	margin-top: .5em;
}
.sheetWrap>.header label.cohortAnchor {
	margin: 0 10px;
}
.sheetWrap>.header label.samplesFromAnchor {

	margin: 0 10px;
}
.sheetWrap>.header .select2-container {
	margin-left: 0.2em;
}
.sheetWrap .yAxisLabel {
	display: none;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	width: 24em;
	margin-left: -11em;
	margin-right: -11em;
}
.sheetWrap .body {
	vertical-align: top;
}
.sheetWrap .showLegend {
	vertical-align: bottom;
}
.sheetWrap .addColumn {
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	vertical-align: top;
	position:relative;
	margin: 20px;
	background-color: #d3d3d3;
}
.sheetWrap .addColumn:hover {
	background-color: white;
}
.chartSelect  {
 padding: 3px 6px;
 font-size:small;
 margin: 0 10px;
 vertical-align: 5%;
}
.bookmark {
 padding: 3px 6px;
 font-size:small;
 margin: 0 10px;
 vertical-align: 5%;
}
.sheetWrap .debug button {
	vertical-align: top;
}
