.spreadsheet {
	position: relative;
	display: inline-block;
	word-wrap: nowrap;
}
.spreadsheet .ui-resizable-s {
	cursor: ns-resize;
}
.spreadsheet-column {
	display: inline-block;
}
.spreadsheet-column .ui-resizable-e {
	cursor: ew-resize;
}

