.spreadsheet {
	position: relative;
	display: inline-block;
	word-wrap: nowrap;
	border-bottom: solid 4px transparent;
}
.spreadsheet:hover {
	border-bottom: solid 4px rgb(200,200,200);
}
.spreadsheet .ui-resizable-s {
	cursor: ns-resize;
}
.spreadsheet-column {
	vertical-align: top;
	display: inline-block;
	border-right: solid 4px transparent;
	padding-right: 3px;
}
.spreadsheet-column:hover {
	border-right: solid 4px rgb(200,200,200);
}
.spreadsheet-column .ui-resizable-e {
	cursor: ew-resize;
}

