#tooltip:not(.frozen) {
	background: white;
}
#tooltip {
	padding: 4px 6px;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	display:none;
}
#tooltip table {
	font-size: .8em;
}
#tooltip .tupleValue {
	padding: 2px;
	font-weight: bold;
}
#tooltip .urlValue {
	padding: 2px;
}
#tooltipClose {
	float: right;
}
#tooltip .sampleID {
	font-style: italic;
}
#tooltip .tooltipPrompt {
	float:right;
	font-size: .5em;
	padding-left: 4px;
}
