#tooltip:not(.frozen) {
	background: white;
}
#tooltip {
	padding: 4px 6px;
	display: none;
	position: absolute;
	overflow: hidden;
	text-align: left;
	z-index: 1;
}
#tooltip table {
	font-size: .8em;
}
#tooltip .valueCol {
	width: 400px;
}
#tooltip .closeCol {
	width: 16px;
}
#tooltip .tupleValue {
	padding: 2px;
	font-weight: bold;
}
#tooltip .urlValue {
	padding: 2px;
}
#tooltipClose {
	float: right;
}
#tooltip .sampleID {
	font-style: italic;
}
#tooltip .tooltipPrompt {
	float:right;
}
