.Tooltip:not(.frozen) {
	background: white;
}
.Tooltip {
	padding: 4px 6px;
	white-space: nowrap;
	z-index: 1;
	position: fixed;
	overflow: hidden;
	text-align: left;
	top: 0;
	left: 50%;
	width: 25%;
	background-color: white;
	box-shadow: 2px 5px 10px rgba(0,0,0,.5);
}
.Tooltip table {
	font-size: 1.2em;
}
.Tooltip .tupleValue {
	padding: 2px;
	font-weight: bold;
}
.Tooltip .urlValue {
	padding: 2px;
}
.TooltipClose {
	float: right;
}
.Tooltip .sampleID {
	font-style: italic;
}
.Tooltip .tooltipPrompt {
	float:right;
	padding-left: 4px;
}
