#tooltip:not(.frozen) {
	background: white;
}
#tooltip {
	padding: 4px 6px;
	display: none;
	position: absolute;
	overflow: hidden;
	text-align: left;
	z-index: 1;
}
#tooltip table {
	font-size: .8em;
}
#tooltip .labelCol {
	width: 10px;
}
#tooltip .valueCol {
	width: 250px;
}
#tooltip .closeCol {
	width: 16px;
}
#tooltip .tupleValue {
	vertical-align: top;
	padding: 2px;
}
#tooltipClose {
	float: right;
}
