/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Typography defaults for text-specific HTML elements based on Material Design spec
 * (https://material.io/guidelines/style/typography.html).
 *
 * These defaults are required as React Toolbox does not specify any typography functionality.
 *
 * This file is included in the core index.css and the rules below are therefore automatically applied to all
 * components.
 */

a {
	text-decoration: none;
	font-weight: 400;
	-webkit-transition: border-bottom 0.35s;
	-moz-transition: border-bottom 0.35s;
	-ms-transition: border-bottom 0.35s;
	-o-transition: border-bottom 0.35s;
	transition: border-bottom 0.35s;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

h1 {
	font-size: 3.400rem;
	font-weight: 400;
	line-height: 4rem;
}

h2 {
	font-size: 2.400rem;
	font-weight: 400;
	line-height: 3.2rem;
}

h3 {
	font-size: 2.000rem;
	font-weight: 500;
	letter-spacing: 0.005em;
}

h4 {
	font-size: 1.600rem;
	font-weight: 400;
	letter-spacing: 0.010em;
	line-height: 2.4rem;
}

p {
	font-size: 1.600rem;
	font-weight: 400;
	letter-spacing: 0.010em;
	line-height: 1.6em;
	margin: 0.8em 0 1.6em;
}

strong {
	font-weight: 500;
}