/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Typography mixins matching Material Design spec (https://material.io/guidelines/style/typography.html). Mixins are
 * used by individual component stylesheets.
 *
 * Also contains custom helpers such as converting text to either secondary or hint styles (as per Material Design spec).
 *
 * These mixins are required as React Toolbox does not specify any typography functionality.
 *
 * Usage:
 *
 * typography.module.css
 * ---------------------
 * .typographyClassName {
 *     font-size: 12px;
 * }
 *
 * MyComponent.css
 * ---------------
 * h1 {
 *     @composes typographyClassName from 'path/to/typography.module.css';
 * }
 *
 * MyComponent.js
 * --------------
 * ...
 * require('path/to/MyComponent.css');
 * ...
 *     <h1>
 *     </h1>
 * ...
 *
 *
 * Note: this variables file is not included in the core index.css. It must be explicitly included in the nested
 * CSS files that make use of the mixins defined below (as per usage example above).
 */

.mdDisplay4 {
	font-size: 112px;
	font-weight: 300;
	letter-spacing: -.01em;
	line-height: 112px;
}

.mdDisplay3 {
	font-size: 56px;
	font-weight: 400;
	letter-spacing: -.005em;
	line-height: 56px;
}

.mdDisplay2 {
	font-size: 45px;
	font-weight: 400;
	line-height: 64px;
}

.mdDisplay1 {
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
}

.mdHeadline {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.mdTitle {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .005em;
}

.mdSubhead {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 24px;
}

.mdBody1 {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 20px;
}

.mdBody2 {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .01em;
	line-height: 24px;
}

.mdCaption {
	font-size: 12px;
	letter-spacing: .02em;
	line-height: 16px;
}

.mdButton {
	letter-spacing: .01em;
}

.mdOverline {
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1.5px;
	line-height: 16px;
	text-transform: uppercase;
}

.xenaCode {
	font-family: "Courier New", sans-serif;
	font-size: 12px;
	letter-spacing: 0.4px;
	line-height: 16px;
	text-transform: uppercase;
}

.xenaTextButton {
	font-size: 12px;
	letter-spacing: 0.75px;
	line-height: 16px; /* TODO confirm 14px / 16px */
}

/**
 * Custom "helpers", as per Material Design spec.
 */
.secondary {
	color: rgba(0, 0, 0, 0.54);
}

.hint {
	color: rgba(0, 0, 0, 0.38);
}
