/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Global Xena styls that are outside of the React component hierarchy and the RTB theming functionality.
 */

/* Adding styles for sticky footer */
body {
	height: 100%;
	min-height: 100vh;
	padding-bottom: 163px; /* 115 for height of footer + 48px padding */
	position: relative;
}
