/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Global Xena styls that are outside of the React component hierarchy and the RTB theming functionality.
 */

@value appMinWidth from './variables.css';

/* Adding styles for sticky footer */
body {
	background-color: #fafafa;
	height: 100%;
	min-height: 100vh;
	min-width: appMinWidth;
	padding-bottom: 163px; /* 115 for height of footer + 48px padding */
	position: relative;
}
