/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena App Control.
 */

.appliedFilter {
	cursor: pointer
}

.appliedFilter:hover {
	text-decoration: line-through;
}

/* Left-hand container, displaying cohort name, sample count and refresh/reload icons */
.cohort {
	padding-right: 16px;
	transition: width 500ms;
	width: 452px; /* Matches min (default) width of wizard columns, snapped at 1280px */
}

.picking.cohort {
	width: 120px;
}

.titleContainer {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ties span {
	background: linear-gradient(to bottom right, red, yellow, blue, orange);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation-duration: 2s;
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
