/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena App Control.
 *
 */

@value black12 from '../css/variables.css';
@value black38 from '../css/variables.css';
@value black87 from '../css/variables.css';

.hoverStrike:hover { /** TODO(mim) revisit this - is this necessary once skin is complete? */
	text-decoration: line-through;
}

.appBarContainer {
	align-items: center;
	display: flex;
	height: 100%;
}

.appBarContainer i {
	color: black87;
	cursor: pointer;
	padding: 6px; /* Match padding of bookmark (ie RTB MenuIcon) */
}

.appBarContainer i {
	margin-left: 4px;
}

/* Left-hand container, displaying cohort name, sample count and refresh/reload icons */
.cohort {
	border-right: 1px solid black12;
	padding-right: 10px;
	min-width: 460px;
	width: 33.3333%;
}

/* Positions the first and any other i after the title and subtitle to the end of the left container */
.cohort i:first-of-type {
	margin-left: auto;
}

.title {
	composes: mdTitle from '../css/typography.module.css';
	color: black87;
}

.subtitle {
	composes: mdCaption from '../css/typography.module.css';
	color: black38;
	display: block;
	line-height: 16px;
}

/* Right-hand container, containing filter and download etc icons */
.tools {
	display: flex;
	flex: 1;
	padding: 16px;
}

/* Filter section, inside tools */
.filter {
	align-items: center;
	display: flex;
}

/* Actions section, inside tools eg chart/visualization toggle, download, PDF, bookmark */
.actions {
	display: flex;
	margin-left: auto;
}

/* Bookmark icon */
.iconBookmark {
	margin-left: 4px;
}

/* Help icon */
.appBarContainer a {
	line-height: 0;
	text-decoration: none;
}

/* Copy bookmark input */
.bookmarkInput {
	left: 0;
	opactiy: 0;
	position: fixed; /* Take input out of flow of app controls */
	pointer-events: none;
	bottom: 0;
}

/* Import input */
.importInput[type='file'] {
	display: none;
}
