/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena App Control.
 *
 */

@value black12 from '../css/variables.css';
@value black38 from '../css/variables.css';
@value black87 from '../css/variables.css';

.hoverStrike:hover { /** TODO(mim) revisit this - is this necessary once skin is complete? */
	text-decoration: line-through;
}

.appBarContainer {
	align-items: center;
	display: flex;
	height: 100%;
}

/* Left-hand container, displaying cohort name, sample count and refresh/reload icons */
.appBarContainer:first-of-type {
	border-right: 1px solid black12;
	min-width: 460px;
	width: 33.3333%;
}

/* Right-hand container, containing filter and download etc icons */
.appBarContainer:last-of-type {
	flex: 1;
}

.title {
	composes: mdTitle from '../css/typography.module.css';
	color: black87;
}

.subtitle {
	composes: mdCaption from '../css/typography.module.css';
	color: black38;
	display: block;
	line-height: 16px;
}

.appBarContainer i {
	color: black87;
	cursor: pointer;
	padding: 6px;
}

.appBarContainer i {
	margin-left: 4px;
}

/* Positions the first and any other i after the title and subtitle to the end of the left container */
.appBarContainer:first-of-type i:first-of-type {
	margin-left: auto;
}

/* Margin for the last i in left-hand container */
.appBarContainer:first-of-type i:last-of-type {
	margin-right: 10px;
}

/* Positions second and all other i to the end of the right container */
.appBarContainer:last-of-type i:nth-of-type(2) {
	margin-left: auto;
}

/* Margin for the first i in right-hand container */
.appBarContainer:last-of-type > i:first-child {
	margin-left: 10px;
}

/* Bookmark icon */
.iconBookmark {
	margin-left: 4px;
}

/* Help icon */
.appBarContainer a {
	line-height: 0;
	margin-left: 4px;
	text-decoration: none;
}

/* Strips margin for the Help icon only in right-hand container.  Help icon wrapped in <a> class. */
.appBarContainer:last-of-type a > i {
	margin-left: 0px;
}
