/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling canvas drawing component.
 */

.canvas {
	left: 0;
	position: relative;
	top: 0;
	z-index: 1
}

.labels {
	left: 0;
	position: relative;
	z-index: 2
}

.wrapper {
	background-color: gray;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
