/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling chart component.
 */

/* Card mixin, based on MD card */
.card {
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); /* Based on MD card */
	border-radius: 2px;
	padding: 24px;
}

/* Container around highcharts */
:global(.highcharts-container) {
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); /* Based on MD card */
}


/* Container around control panel (Y Axis, X Axis, Color etc) */
.controlPanel {
	composes: card;
	margin-top: 24px;
}

/* Row inside control panel */
.row {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.row+.row {
	margin-top: 24px;
}

.row select {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	padding: 6px 12px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 100%;
}

.row select:focus {
	outline: none;
}

/* Column inside control panel */
.column {
	composes: mdBody1 from '../css/typography.module.css';
	max-width: 33%;
}

/* Padding allocated to even columns */
.column:nth-of-type(even) {
	padding: 0 32px;
}

/* Right padding removed from last column, if even */
.column:nth-of-type(even):last-of-type {
	padding: 0 0 0 32px;
}

.column label {
	display: block;
	font-weight: normal; /* BS override */
	margin-bottom: 4px;
}

/* Stats container */
.stats {
	composes: card;
	composes: mdCaption from '../css/typography.module.css';
	display: none;
}

.stats.visible {
	display: block;
	height: 100%;
	margin-left: 24px;
}
