/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling chart component.
 */

/* Card mixin, based on MD card */
.card {
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); /* Based on MD card */
	border-radius: 2px;
	padding: 24px;
}

/* Container around highcharts */
:global(.highcharts-container) {
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); /* Based on MD card */
}


/* Container around control panel (Y Axis, X Axis, Color etc) */
.controlPanel {
	composes: card;
	margin-top: 24px;
}

/* Row inside control panel */
.row {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.row+.row {
	margin-top: 24px;
}

/* Column inside control panel */
.column {
	composes: mdBody1 from '../css/typography.module.css';
	max-width: 33%;
}

.column label {
	display: block;
	font-weight: normal; /* BS override */
	margin-bottom: 4px;
}

/* Stats container */
.stats {
	composes: card;
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

.stats.visible {
	display: block;
}

/**
 * Add formControl to ensure the chart view will not be influenced by removing Bootstrap.
 * In nature, it is a workaround to keep the chart view unchanged.
 * In future, we can use the React-toolbox widget to replace the basic input component.
 */

.formControl {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.formControl:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.formControl::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.formControl:-ms-input-placeholder {
	color: #999;
}

.formControl::-webkit-input-placeholder {
	color: #999;
}

.formControl[disabled],
.formControl[readonly] {
	background-color: #eee;
	opacity: 1;
}

.formControl[disabled] {
	cursor: not-allowed;
}
