/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling chart component.
 */

/* Container around highcharts */
.ChartView {
	margin: 48px 12px;
	display: flex;
	justify-content: flex-start;
}
