.columnEdit .modal-content {
	min-height: 30em; /* XXX relates to Select.css? */
}
.dropdown-header {
    color: #337ab7;
    font-size: medium;
    font-style: italic;
}
.columnEdit .footer {
	text-align: right;
	vertical-align: bottom;
}

.control-label-pending {
	font-size: 24px;
}

.control-label-done {
	text-align: right;
	font-size: 18px;
}

.nav-buttons {
	background-color: 'yellow';
	text-align: center;
}
