/** Column wrapper, for both wizard and completed setup */
.Columns {
	display: flex;
	margin-left: 12px; /* Match 24px gutter (12px from grid + 12px here) */
	margin-right: 12px; /* Match 24px gutter (12px from grid + 12px here) */
}

.Columns canvas {
	display: block;
}

/** Wizard and completed card */
.Column {
	cursor: default;
	overflow: visible;
	margin-left: 0;
	margin-right: 0;
	user-select: none;
}

.Column .react-resizable-handle {
	bottom: -6px;
	right: -6px;
	visibility: hidden;
	width: 12px;
	height: 12px;
	background: url('./resizer.gif');
	/* Not sure if -1 is a good idea, but nothing else seems to work.
	 * giving canvas index 2 and this index 1, for example, results in
	 * the handle getting events in the corner of the canvas, where we
	 * want the canvas to get events. */
	z-index: -1;
}

.Column:hover .react-resizable-handle {
	visibility: visible;
}

.Column .react-resizable-handle:hover {
	visibility: visible;
}

.ColumnLabels {
	position: absolute;
	overflow: hidden;
	display: flex;
	margin: 0;
}

.ColumnLabel {
	margin: auto;
}
