.columnEdit .modal-content {
	min-height: 30em; /* XXX relates to Select.css? */
}
.dropdown-header {
    color: #337ab7;
    font-size: medium;
    font-style: italic;
}
.columnEdit .footer {
	text-align: right;
	vertical-align: bottom;
}

.chosen-values {
	font-size: 20px;
	color: #298A08;
}

.help {
	color: #000000;
	font-weight: 100;
	font-size: 14px;
	vertical-align: top;
}

.selection-label {

}

.selection-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
}

.breadcrumb-active {
	color: #FF8000;
	text-decoration: underline;
}

.breadcrumb-inActive {
	color: #A4A4A4;
	text-decoration: no-underline;
}

.active {
	color: #FF8000;
}
.inActive {
	color: #A4A4A4;
}
