/* TODO review margin */
/** Column wrapper, for both wizard and completed setup */
.Columns {
	align-items: flex-start; /* Don't need to vertically stretch individual columns as wizard/ghost cards have min height and col cards have canvas with height specified */
	display: flex;
	margin-left: 16px; /* Match 24px gutter (12px from grid + 12px here) */
	margin-right: 16px; /* Match 24px gutter (12px from grid + 12px here) */
}

.Columns canvas {
	display: block;
}

.ColumnLabels {
	position: absolute;
	overflow: hidden;
	display: flex;
	margin: 0;
}

.ColumnLabel {
	margin: auto;
}
