.Column-add-button {
	position: relative;
	top: 20px;
}

.Column {
	user-select: none;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	cursor: crosshair;
}

.Columns {
	white-space: nowrap;
}

.Columns .Sortable {
	white-space: normal;
}

.Columns canvas {
	display: block;
}

.Column .react-resizable-handle {
	bottom: -6px;
	right: -6px;
	visibility: hidden;
	width: 12px;
	height: 12px;
	background: url('./resizer.gif');
	/* Not sure if -1 is a good idea, but nothing else seems to work.
	 * giving canvas index 2 and this index 1, for example, results in
	 * the handle getting events in the corner of the canvas, where we
	 * want the canvas to get events. */
	z-index: -1;
}

.Column:hover .react-resizable-handle {
	visibility: visible;
}

.Column .react-resizable-handle:hover {
	visibility: visible;
}
