.datapages {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 80%;
}

.datapages ul {
	list-style: none;
}

.groupList {
	padding-left: 40px;
}

.groupList li {
	margin: 16px 0 16px 0;
}

.star {
	font-size: 1.5em;
	color: red;
}

.count {
	color:#006600;
}

.link {
	display: inline;
}

.link > abbr {
	text-transform: none;
}

.dataHubs {
	float: right;
}

.sidebar {
	float: right;
	width: 20%;
}

.description {
	display: block;
	font-size: 0.8em;
}

.lineClamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;
	-moz-box-orient: vertical;
	overflow: hidden;
}

.key {
	margin: 5px 0 5px 0;
	width: 150px;
	display: inline-block;
}

.header {
	width: 70%;
	font-size: 0.9em;
}

.value {
	margin: 5px 0 5px 0;
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.9em;
}

.dataSnippetTable {
	border-collapse:collapse;
	width: 100%;
}

.dataSnippetTable tr td {
	border: 5px solid rgb(225,225,225);
	text-align: right;
	word-wrap: break-word;
	color: #505050;
	font-size: 85%;
	max-width: 100px;
	min-width: 30px;
}
