/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Material Design-inspired footer.
 */

.footer {
	background-color: var(--color-primary);
	bottom: 0;
	color: #ffffff;
	display: block;
	padding: 34px 24px 32px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

.footerLinks {
	composes: mdBody1 from '../css/typography.module.css';
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footerLinks ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.footerLinks li:not(:first-child):before {
	content: '\b7';
	padding: 0 16px;
}

.footerLinks li a {
	color: #ffffff;
}

.footerCR {
	composes: mdCaption from '../css/typography.module.css';
	font-weight: 300;
	padding-top: 12px;
}
