.host-form .remove {
	visibility: hidden;
}

.host-form:hover .remove {
	visibility: visible;
}

/**
 * Remove default BS negative margin from form-group as it is placing hub checkboxes outside of MD grid.
 *
 * TODO(mim) revisit once BS is removed - this will no longer be necessary.
 */
.form-horizontal .form-group {

    margin-left: 0;
}
