/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling data hubs page.
 */

/* Hub page container - add padding to match vis container */
.hubPage {
	padding: 48px;
}

.hubPage li {
	min-height: 64px;
	transition: background-color 200ms linear;
}

.status {
	padding: 7px 12px;
}

.status:empty {
	display:none;
}

/* Remove icon */
.remove {
	opacity: 0;
	transition: opacity 100ms linear;
}

.hubPage li:hover .remove {
	opacity: 1;
}
