/*csslint known-properties: false*/
/* csslint doesn't know about svg */
.kmDialog .axis path,
.kmDialog .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.kmDialog .x.axis path {
	display: none;
}

.kmDialog .outline {
	fill: none;
	stroke: gray !important;
}

.kmDialog .line {
	fill: none;
}

.kmDialog path.line {
	stroke-width: 2.0px;
}

path.outline {
	stroke-width: 3.0px;
}

.kmDialog line.line {
	stroke-width: 1.0px;
}

.kmDialog line.outline {
	stroke-width: 2.0px;
}

.kmDialog .subgroup:hover text {
	font-weight: bold;
}

.kmDialog .subgroup path.line.hover {
	stroke-width: 3.0px;
}

.kmDialog .subgroup path.outline.hover {
	stroke-width: 5.0px;
}

.kmDialog .subgroup line.line.hover {
	stroke-width: 2.0px;
}

.kmDialog .subgroup line.outline.hover {
	stroke-width: 3.0px;
}

.kmDialog .legend .hover {
	font-weight: bold;
}

.kmDialog .legend li {
	vertical-align: middle;
}

.kmDialog .graph {
	float: left;
}

.kmDialog .definitions {
	float: right;
	font-size: small;
}

/*.kmdiv {*/
/*position: relative;*/
/*}*/

.kmopts {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 5px;
	padding: 10px;
	width: auto;
	display: none;
	z-index: 10;
}

.kmopts p {
	width: 60em;
}

.kmScreen {
	position: absolute;
	background-color: #ffffff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	display: none;
}

.kmScreen.notify {
	display: block;
}

.kmDialog .featureLabel {
	float: left;
	/*margin-top: 5px;*/
	margin-right: 40px;
	font-size: 20px;
	vertical-align: center;
	/*padding: 3px;*/
}

.labelbutton {
	margin-top: 5px;
	margin-right: 40px;
	padding: 3px;
}

.grey {
	background-color: #E1E1E1
}

