/*csslint known-properties: false*/
/* csslint doesn't know about svg */

/*
 * main dialog
 */

div.dialogWrapper {
	display: block;
	position: absolute;
	height: calc(100% - 179px);
	width: 100%;
	top: 64px;
}

div.dialogOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

button.mainDialogClose {
	background-color: #ffffff;
}

.mainDialogClose:hover {
	background-color: #d3d3d3;
}

.mainDialogClose, .warningDialogClose {
	position: absolute;
	top: 20px;
	right: 30px;
	line-height: 40px;
	height: 40px;
	width: 40px;
	padding: 8px;
	box-sizing: border-box;
}

.mainDialogClose > i, .warningDialogClose > i {
	color: #b6b6b6;
}

div.mainDialog {
	width: 850px;
	max-height: inherit;
	padding-top: 10px;
	margin-top: 30px;
	margin-left: calc((100% - 850px) / 2);
}

.topPanel {
	display: flex;
}

/*
 * graph
 */

.graph {
	/* don't allow graph size to change */
	flex: 0 0 auto;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.outline, .outlineHover {
	fill: none;
	stroke: gray !important;
}

.line, .lineHover {
	fill: none;
}

path.line {
	stroke-width: 2.0px;
}

path.outline {
	stroke-width: 3.0px;
}

line.line {
	stroke-width: 1.0px;
}

line.outline {
	stroke-width: 2.0px;
}

.subgroup:hover text {
	font-weight: bold;
}

path.lineHover {
	stroke-width: 3.0px;
}

path.outlineHover {
	stroke-width: 5.0px;
}

line.lineHover {
	stroke-width: 2.0px;
}

line.outlineHover {
	stroke-width: 3.0px;
}

/* XXX must match limit in models/km */
@for $i from 0 to 9 {
	.groupHighlight$(i) .group$(i) path.line {
		stroke-width: 3.0px;
	}

	.groupHighlight$(i) .group$(i) path.outline {
		stroke-width: 5.0px;
	}

	.groupHighlight$(i) .group$(i) line.line {
		stroke-width: 2.0px;
	}

	.groupHighlight$(i) .group$(i) line.outline {
		stroke-width: 3.0px;
	}
}

/*
 * right panel
 */

.rightPanel {
	margin-left: 50px;
}

.rightPanel h4 {
	color: black;
}

.definitions {
	font-size: small;
	margin-top: -10px;
}

.actions i {
	margin-right: 20px;
	cursor: pointer;
}

.actions a {
	color: unset;
}

.pWarningIcon {
	color: #8d0000;
	float: left;
	font-size: 18px;
}

.PValueArea {
	height: 60px;
	box-sizing: border-box;
	position: relative;
	display: block;
}

.PValueP {
	width: 200px;
	line-height: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}

.showPWarningButton {
	margin-left: 10px;
	margin-top: 20px;
	min-width: 0;
}

.splits {
	display: flex;
	flex-wrap: wrap;
	margin: 8px 0;
}

.splitLabel {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	margin-left: 16px;
	padding: 4px 0;
}

.splitHint {
	margin-left: 8px;
}

.survType input {
	background-color: #f5f5f5;
}

.infoIcon {
	color: #757575;
}

/*
 * warning dialog
 */

div.warningDialog {
	width: 600px;
	overflow: auto;
	padding-top: 10px;
	margin-left: calc((100% - 600px) / 2);
	margin-top: 200px;
}

.warningContainer {
	position: absolute;
	left: 140px;
	top: -10px;
}

/*
 * at-risk table
 */

/* rows */
.atRisk > div {
	/* use flex to position the legend to the right */
	display: flex;
}

/* first column: at risk values. */
.atRisk > div > :nth-child(1) {
	display: flex;  /* Evenly space cells. */
	flex-grow: 0;   /* Width matches graph. Don't flex. */
	flex-shrink: 0;
}

/* at-risk cells */
.atRisk > div > :nth-child(1) > span {
	flex: 1;
	text-align: center;
}

/* second column for legend */
.atRisk > div > :nth-child(2) {
	font-size: small;
}


/*
 * legend
 */

.legendLine {
	display: inline-block;
	height: 6px;
	vertical-align: middle;
	width: 25px;
	margin-right: 2px;
	border: 1px solid;
}

.listItem, .activeListItem {
	position: relative;
	padding: 0;
	margin-bottom: 0;
	margin-left: 25px;
	text-indent: -27px;
	border: none;
	flex-grow: 1;
	cursor: default;
}

/* XXX must match limit in models/km */
@for $i from 0 to 9 {
	.groupHighlight$(i) .group$(i) {
		color: #555;
		background-color: #E1E1E1;
		font-weight: bold;
	}

	.groupHighlight$(i) .group$(i) .legendLine {
		border: 2px solid;
	}
}
