/*csslint known-properties: false*/
/* csslint doesn't know about svg */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.outline, .outlineHover {
    fill: none;
    stroke: gray !important;
}

.line, .lineHover {
    fill: none;
}

path.line {
    stroke-width: 2.0px;
}

path.outline {
    stroke-width: 3.0px;
}

line.line {
    stroke-width: 1.0px;
}

line.outline {
    stroke-width: 2.0px;
}

.subgroup:hover text {
    font-weight: bold;
}

path.lineHover {
    stroke-width: 3.0px;
}

path.outlineHover {
    stroke-width: 5.0px;
}

line.lineHover {
    stroke-width: 2.0px;
}

line.outlineHover {
    stroke-width: 3.0px;
}

.legend {
    border-radius: 4px;
}

.legend li {
    vertical-align: middle;
    cursor: default;
}

.legend li:hover {
    font-weight: bold;
}

.graph {
    margin-top: 20px;
    float: left;
    width: 500px;
}

.definitions {
    float: right;
    font-size: small;
    margin-top: -10px;
}

.screen {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
}

.screen.notify {
    display: block;
}

button.mainDialogClose {
    background-color: #ffffff;
}

.mainDialogClose:hover {
    background-color: #d3d3d3;
}

.mainDialogClose, .warningDialogClose {
    position: absolute;
    top: 20px;
    right: 30px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    padding: 8px;
    box-sizing: border-box;
}

.mainDialogClose > i, .warningDialogClose > i {
    color: #b6b6b6;
}

div.mainDialog {
    width: 850px;
    height: 600px;
    overflow: auto;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: calc((100% - 850px) / 2);
}

div.warningDialog {
    width: 600px;
    overflow: auto;
    padding-top: 10px;
    margin-left: calc((100% - 600px) / 2);
    margin-top: 200px;
}

i.buttonIcon {
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: #757575;
}

.buttonText {
    display: inline-block;
    margin-top: -10px;
    color: #757575;
}

.PDFButton {
    margin: 0px 0 15px 50px;
}

.helpButton {
    margin-left: 20px;
}

.pWarningIcon {
    color: #8d0000;
    float: left;
    font-size: 18px;
}

.showPWarningButton {
    margin-left: 10px;
    margin-top: 20px;
    min-width: 0;
}

.splitLabel {
    margin-left: 20px;
}

.splitHint {
    margin-left: 10px;
}

.listItem, .activeListItem {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.listItem:first-child, .activeListItem:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.listItem:last-child, .activeListItem:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.listItem:hover, .listItem:focus,
.activeListItem:hover, .activeListItem:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.activeListItem {
    background-color: #E1E1E1;
    font-weight: bold;
}

.mainDialog > nav {
    padding: 0;
}

.PValueArea {
    height: 60px;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.PValueP {
    width: 200px;
    line-height: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}

.warningContainer {
    position: absolute;
    left: 140px;
    top: -10px;
}

.survType input {
    background-color: #f5f5f5;
}

div.dialogWrapper {
    display: block;
    position: absolute;
    height: calc(100% - 179px);
    top: 64px;
}

div.dialogOverlay {
    position: absolute;
    height: 100%;
    top: 0;
}
