/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * React Toolbox theme for applying global overrides to all Link components.
 *
 * Uses theme key RTLink and theme end points to override specific classes. See
 * http://react-toolbox.com/#/components/link for details.
 */

a.link[data-react-toolbox='link'] {
	color: var(--color-accent);
	margin: 0 16px;
	opacity: 1;
	-webkit-transition: color 0.35s; /** Must override RTB's opacity transition here */
	-moz-transition: color 0.35s;
	-ms-transition: color 0.35s;
	-o-transition: color 0.35s;
	transition: color 0.35s;
}

a.link[data-react-toolbox='link']:hover, a.link[data-react-toolbox='link']:focus {
	color: var(--color-primary-contrast);
	text-decoration: none;
}

a.link[data-react-toolbox='link'] > abbr {
	text-transform: uppercase;
}

/* Can not use composes with a tag (eg a.link) but to override RTB theme's specificity, must specify tag, so separating this out here from the generic theme overrides below. */
.link {
	composes: mdBody1 from '../css/typography.module.css';
}

/* Active link */
a.active[data-react-toolbox='link'] {
	color: var(--color-primary-contrast);
}