/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * React Toolbox theme for applying nav-specific overrides to Link components. Used by navTheme.
 *
 * Uses theme key RTLink and theme end points to override specific classes. See
 * http://react-toolbox.com/#/components/link for details.
 */

.link {
	composes: mdBody1 from '../css/typography.module.css';
	&[data-react-toolbox='link'] {
		color: var(--color-accent);
		margin: 0 16px;
		opacity: 1;
		transition: color 0.35s; /** Must override RTB's opacity transition here */
		&:hover, &:focus {
			color: var(--color-primary-contrast);
			text-decoration: none;
		}
		& > abbr {
			text-transform: uppercase;
		}
	}
	&.active {
		color: var(--color-primary-contrast);
	}
}
