/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena Sheet Control.
 *
 */

/* Sheet controls */
.sheetControls {
	align-items: flex-start;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	min-height: 32px;
	padding: 0 24px;
}

/* Sheet Status */
.sheetStatus {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	gap: 12px;
	margin: 4px 0;
}

/* Animation zoom controls */
.zoomAnimate {
	animation-duration: 1s;
	animation-name: zoomAnimation;
}

/* Animation zoom controls */
@keyframes zoomAnimation {
	0% {opacity: 0;}
	25% {opacity: 0}
	100% {opacity: 1;}
}

/* Zoom Actions */
.zoomActions {
	align-items: center;
	display: flex;
	gap: 16px;
}

/* Sheet Actions */
.sheetActions {
	align-items: center;
	display: flex;
	gap: 32px;
	height: 24px; /* Required to maintain centered buttons when status chips wrap to new line */
	margin: 4px 0;
}
