/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena Sheet Control.
 *
 */

@value black12 from '../css/variables.css';

/* Sheet controls */
.sheetControls {
	align-items: flex-start;
	background-color: #ffffff;
	border-bottom: 1px solid black12;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

/* Sheet Status */
.sheetStatus {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	margin: 4px 0;
}

/* Animation zoom controls */
.zoomAnimate {
	animation-duration: 1s;
	animation-name: zoomAnimation;
}

/* Animation zoom controls */
@keyframes zoomAnimation {
	0% {opacity: 0;}
	25% {opacity: 0}
	100% {opacity: 1;}
}

/* Zoom Actions */
.zoomActions {
	align-items: center;
	display: flex;
}

/* Sheet Actions */
.sheetActions {
	align-items: center;
	display: flex;
	height: 24px; /* Required to maintain centered buttons when status chips wrap to new line */
	margin: 4px 0;
	padding-right: 4px;
}

/* Text button */
.action {
	composes: xenaTextButton from '../css/typography.module.css';
	color: var(--color-accent);
	cursor: pointer;
	margin-left: 32px;
}

/* Button disabled */
.action.disabled {
	color: black12;
	cursor: default;
}

/* Sheet action text button */
.sheetActions .action {
	margin-left: 32px;
}

/* Zoom out and clear zoom text button */
.zoomActions .action {
	height: 24px; /* Required to maintain centered buttons when status chips wrap to new line */
	line-height: 24px;
	margin: 0 8px;
}
