/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS of Xena spreadsheet.
 */

@value black6 from '../css/variables.css';

.Spreadsheet {
	position: relative;
	padding: 48px 0;
}

.zoomDialog {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 19px 60px rgba(0, 0, 0, .3), 0 15px 20px rgba(0, 0, 0, .22); /* Based on <Dialog>. */
	display: none;
	left: 12px;
	min-width: 272px;
	position: absolute;
	text-align: left;
	top: 24px;
	white-space: nowrap;
	z-index: 999;
}

.zoomDialog.active {
	display: block;
}

.content {
	composes: mdBody1 from '../css/typography.module.css';
	padding: 16px;
}

.actions {
	border-top: 1px solid black6;
	display: flex;
	justify-content: flex-end;
	padding: 8px 16px;
	margin-top: 24px;
}
