/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS of Xena spreadsheet.
 */

@value black6 from '../css/variables.css';

.Spreadsheet {
	display: flex;
	padding: 48px 0;
}

.sampleZoomIndicator {
    margin: 0 4px 0 12px;
}
