button.dialogClose {
	position: absolute;
	top: 20px;
	right: 30px;
	line-height: 40px;
	height: 40px;
	width: 40px;
	padding: 8px;
	box-sizing: border-box;
}

button.dialogClose > i {
	color: #b6b6b6;
}

.dialog {
	padding-top: 10px;
	width: 500px;
	margin-left: calc((100% - 500px) / 2);
	margin-top: 150px;
}

.dialogWrapper {
	display: block;
	position: absolute;
	height: calc(100% - 179px);
	top: 64px;
}

.dialogOverlay {
	position: absolute;
	height: 100%;
	top: 0;
}