button.dialogClose {
	position: absolute;
	top: 20px;
	right: 30px;
	line-height: 40px;
	height: 40px;
	width: 40px;
	padding: 8px;
	box-sizing: border-box;
}

button.dialogClose > i {
	color: #b6b6b6;
}

.dialog {
	padding-top: 10px;
}