

.close {
	float: right;
	cursor: pointer;
}

.back {
	float: left;
}

.done {
	float: right;
}

.modes {
	margin: 0 22%;
	display: flex;
	flex-direction: column;
}

.modes button {
	margin: 2px;
}

/* XXX this selector is ridiculous */
.modes button span:first-child {
	float: right;
}

.modes .label {
	float: left;
}

.icons i {
	margin: 0 6px;
}

.modes i {
	font-size: 140%;
	vertical-align: middle;
}

.wizard {
	width: 50%;
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
}

.wizard h2 {
	margin-left: auto;
	margin-right: auto;
}

.actions {
	margin-top: 10px;
}

