/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling chart component.
 */

.chartView {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 256px;
	margin: 0 12px;
	padding: 24px 0 48px;
}

.card {
	border-radius: 6px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20), 0 2px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
	display: grid;
	min-height: 0; /* required for chart resize */
	position: relative; /* positions chartViewButton */
}

.chartViewButton {
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 1;
}

.chartRender {
	display: flex;
	min-height: 0; /* required for chart resize */
	min-width: 0; /* required for chart resize */
	padding: 24px 16px;
}

.chart {
	flex: 1;
	overflow: hidden;
}

.chartActions {
	align-content: flex-start;
	overflow: hidden;
}

.chartActionsPrimary {
	display: grid;
	gap: 16px;
	padding: 16px;
}

.chartActionsButtons {
	display: grid;
	gap: 8px;
}

.chartActionsSecondary {
	border-radius: inherit;
	box-shadow: none;
	min-height: 0;
}

.chartActionsSecondarySummary {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.46px;
	line-height: 26px;
	padding: 16px;
	text-transform: uppercase;
}

.chartActionsSecondaryDetails {
	display: grid;
	gap: 16px;
	padding: 0 16px 16px 16px;
}

.chartAction {
	display: flex;
	gap: 4px;
}

.chartAction label {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.chartAction .formControl {
	margin: 0;
}

.chart [class*='highcharts-plot-line-label'] div {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(33, 33, 33, 0.5);
	color: #212121;
	cursor: pointer;
	display: flex;
	font-size: 11px;
	gap: 4px;
	line-height: 16px;
	padding: 2px 6px;
	position: relative;
}

.chart [class*='highcharts-plot-line-label'] [class='copy'] {
	display: none;
}

.chart [class*='highcharts-plot-line-label']:hover [class='copy'] {
	display: flex;
}

.violinTooltip td {
	border: 1px solid black;
	padding: 0 1px;
}

.violinTooltip table {
	 border-collapse: collapse;
 }
