/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling chart component.
 */

/* Card mixin, based on MD card */
.card {
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); /* Based on MD card */
	border-radius: 2px;
	padding: 24px;
}

.violinTooltip td {
	border: 1px solid black;
	padding: 0px 1px;
}

.violinTooltip table {
	 border-collapse: collapse;
 }

.right {
	display: flex;
	flex-direction: column-reverse;
	margin-left: 5px;
	height: 70vh;
	overflow: hidden;
}

.actions {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
}

.actions button {
	margin-bottom: 2px;
}


/* Container around control panel (Y Axis, X Axis, Color etc) */
.controlPanel {
	margin-top: 24px;
	width: 70vw;
	overflow: hidden;
}

.accordion {
	transform: translateY(-100%);
	transition: transform 0.7s;
}

.accordion.show {
	transform: translateY(0%);
}

/* Row inside control panel */
.row {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.row+.row {
	margin-top: 24px;
}

.row select {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	padding: 6px 12px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 100%;
}

.row select:focus {
	outline: none;
}

/* Column inside control panel */
.column {
	composes: mdBody1 from '../../css/typography.module.css';
	max-width: 33%;
}

/* Padding allocated to even columns */
.column:nth-of-type(even) {
	padding: 0 32px;
}

/* Right padding removed from last column, if even */
.column:nth-of-type(even):last-of-type {
	padding: 0 0 0 32px;
}

.column label {
	display: block;
	font-weight: normal; /* BS override */
	margin-bottom: 4px;
}

/* Stats container */
.stats {
	composes: mdCaption from '../../css/typography.module.css';
	display: none;
	overflow-y: auto;
}

.stats.visible {
	display: block;
	margin-bottom: 5px;
	margin-left: 24px;
}

.chart {
	width: 70vw;
	height: 70vh;
}

.ChartView {
	position: relative;
	composes: card;
	margin: 48px 12px;
	display: flex;
	justify-content: flex-start;
}

.close {
	position: absolute;
	top: 20px;
	right: 30px;
}

.error {
	width: 70vw;
	height: 70vh;
	padding: 20px;
	display: block;
}

.error button {
	float: right;
}

button.advanced { /* have to use button to force the override */
	width: 100%;
	/* should be able to set 'flat' on the Button component, to clear the
	 *  background but it's being overridden by RTButtonTheme.module.css. Not
	 *  sure what the correct strategy is here. */
	background: transparent;
}
