.close {
	float: right;
	cursor: pointer;
}

.back {
	float: left;
}

.done {
	float: right;
}

.modes {
	margin: 0 15%;
	display: flex;
	flex-direction: column;
}

.modes button {
	margin-top: 2px;
	/* this centers the buttons on the start page, but might
	 * do odd things on other pages. Not sure. */
	margin-left: auto;
	margin-right: auto;
	width: 21em;
	text-align: left;
}

.modes button span:first-child {
	float: right;
}

[data-react-toolbox="radio-button"] i, .modes button i {
	margin: 0 6px;
}

/* line up the radio buttons with the other inputs */
.modes [data-react-toolbox="radio-group"] {
	padding: 6px 24px;
}

.radio span:first-child {
	display: inline-block;
	width: 4.4em;
}

.modes i {
	font-size: 140%;
	vertical-align: middle;
}

.wizard {
	width: 50%;
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
}

.wizard h2 {
	margin-left: auto;
	margin-right: auto;
}

.actions {
	margin-top: 10px;
}
