@font-face {
    font-family: "icons";
    src: url("./icons.eot?8b09244544e56434aec38655ffef2fbb#iefix") format("embedded-opentype"),
url("./icons.woff2?8b09244544e56434aec38655ffef2fbb") format("woff2"),
url("./icons.woff?8b09244544e56434aec38655ffef2fbb") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-violin:before {
    content: "\f101";
}
.icon-scatter:before {
    content: "\f102";
}
.icon-dot:before {
    content: "\f103";
}
.icon-box:before {
    content: "\f104";
}
.icon-bar:before {
    content: "\f105";
}
