{
	"presets": ["react", "es2015"],
	"plugins": [
		"transform-object-rest-spread",
		"tailcall-optimization",
		"transform-class-properties"
	],
	"env": {
		"development": {
			"plugins": [
				"transform-object-rest-spread",
				"tailcall-optimization",
				["react-transform", {
					"transforms": [{
						"transform": "react-transform-catch-errors",
						"imports": ["react", "redbox-react", "redboxOptions"]
					}]
				}]
			]
		}
	}
}
