{
	"presets": [
		"@babel/preset-react",
		["@babel/preset-env", {"useBuiltIns": "entry", "corejs": 3}]
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-transform-runtime",
		"tailcall-optimization",
		"@babel/plugin-proposal-class-properties",
	],
	"env": {
		"development": {
			"plugins": [
				"@babel/plugin-proposal-object-rest-spread",
				"@babel/plugin-transform-runtime",
				"tailcall-optimization",
				"@babel/plugin-proposal-class-properties"
			]
		}
	}
}
