<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%=o.htmlWebpackPlugin.options.title || 'UCSC Xena'%}</title>
	<script type="text/javascript">
	// Keep near the top of the page so it executes immediately.
	(function (cssCode) {
		var styleElement = document.createElement("style");
		styleElement.type = "text/css";
		if (styleElement.styleSheet) {
			styleElement.styleSheet.cssText = cssCode;
		} else {
			styleElement.appendChild(document.createTextNode(cssCode));
		}
		document.getElementsByTagName("head")[0].appendChild(styleElement);
	})("#noJScript { display: none }");
	</script>

	<script type="text/javascript">
		window.config = {
			ga_id: null,
			jslogging: false,
			baseurl: '/'
		};
	</script>
	<!--#include file="config.js" -->
	<script type="text/javascript">
		var ga_id = (window.localStorage && window.localStorage.noga) ?
				undefined : config.ga_id;
		if (ga_id) {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', ga_id, 'auto');
			ga('send', 'pageview');
		}
	</script>
  </head>
  <body id="body">
	<div class="minWidthWrapper">
		<div id="navMenuMain">
		</div>
		<div id="main">
			<div id='noJScript' style="text-align:center; background: yellow; color: black; font-size: small; width: 500px; margin: auto;">
				<em>Warning</em>: It appears as though you do not have javascript enabled.  The UCSC Xena browser relies heavily on JavaScript and will not function without it enabled.  Thank you for your understanding.
			</div>
		</div>
		<div id="footer">
		</div>
	</div>
	{% if (o.htmlWebpackPlugin.files.chunks.init) { %}
	<script src="{%=o.htmlWebpackPlugin.files.chunks.init.entry%}"></script>
		{% if (o.htmlWebpackPlugin.files.chunks.init.css) { %}
	<link href="{%=o.htmlWebpackPlugin.files.chunks.init.css[0]%}" rel="stylesheet">
		{% } %}
	{% } %}
	<script type="text/javascript">
		(function () {
			var pages = {
					{% if (process.env.NODE_ENV !== '"production"') { %}
					docs: {
						js: "{%=o.htmlWebpackPlugin.files.chunks.docs.entry%}",
						css: "{%=o.htmlWebpackPlugin.files.chunks.docs.css[0]%}"
					},
					bookmarks: {
						js: "{%=o.htmlWebpackPlugin.files.chunks.bookmarks.entry%}",
						css: "{%=o.htmlWebpackPlugin.files.chunks.bookmarks.css[0]%}"
					},
					{% } %}
					heatmap: {
						js: "{%=o.htmlWebpackPlugin.files.chunks.heatmap.entry%}",
						css: "{%=o.htmlWebpackPlugin.files.chunks.heatmap.css[0]%}"
					},
					register: {
						js: "{%=o.htmlWebpackPlugin.files.chunks.register.entry%}",
					}
				},
				path = document.location.pathname,
				page = (function () {
					var p;
					for (p in pages) {
						if ('/' + p + '/' === path) {
							return pages[p];
						}
					}
					return pages.heatmap;
				})();
			function addScript(path) {
				var st = document.createElement('script');
				st.type = 'text/javascript';
				st.async = true;
				st.src = path;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(st, s);
			}
			function addStyle(path) {
				var css = document.createElement('link');
				css.type = 'text/css';
				css.rel = 'stylesheet';
				css.href = path;
				document.getElementsByTagName("body")[0].appendChild(css);
			}

			addScript(page.js);
			if (page.css) {
				addStyle(page.css);
			}
		}());
	</script>
  </body>
</html>
