<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}</title>
	<script type="text/javascript">
	// Keep near the top of the page so it executes immediately.
	(function (cssCode) {
		var styleElement = document.createElement("style");
		styleElement.type = "text/css";
		if (styleElement.styleSheet) {
			styleElement.styleSheet.cssText = cssCode;
		} else {
			styleElement.appendChild(document.createTextNode(cssCode));
		}
		document.getElementsByTagName("head")[0].appendChild(styleElement);
	})("#noJScript { display: none }");
	</script>

	<script type="text/javascript">
		window.config = {
			ga_id: null,
			jslogging: false,
			baseurl: '/'
		};
	</script>
	<!--#include file="config.js" -->
	<script type="text/javascript">
	 	var ga_id = config.ga_id;
		if (ga_id) {
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', ga_id]);
			_gaq.push(['_trackPageview']);

			(function() {
				 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
		}
	</script>
  </head>
  <body id="body">
	<div class="minWidthWrapper">
		<div id="navMenuMain">
		</div>
		<div id="main">
			<div id='noJScript' style="text-align:center; background: yellow; color: black; font-size: small; width: 500px; margin: auto;">
				<em>Warning</em>: It appears as though you do not have javascript enabled.  The UCSC Cancer Genomics browser relies heavily on JavaScript and will not function without it enabled.  Thank you for your understanding.
			</div>
		</div>
		<div id="footer">
		</div>
	</div>
	{% for (var a in o.htmlWebpackPlugin.assets) { %}
	<script src="{%=o.htmlWebpackPlugin.assets[a]%}"></script>
    {% } %}
  </body>
</html>
