/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Theme overrides for styling react-autosuggest.
 */

@value black3 from '../../css/variables.css';
@value black12 from '../../css/variables.css';

/**
 * Core react-autosuggest theming API end points.
 */

.input {
	border-bottom: 1px solid black12;
}

.input input {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 56px; /* 56px to allow for close (X) icon */
}

.inputOpen {
	border-bottom: 1px solid black12;
}

/* Suggestions container */
.suggestionsContainer {
	background-color: #ffffff;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	overflow-y: auto;
	position: absolute;
	max-height: 182px; /* Displays max of 3.5 results, where each result is 52px tall */
	width: 100%;
	z-index: 3;
}

/* Suggestions list */
.suggestionsList {
	list-style: none;
}

/* Suggestions */
.suggestion {
	composes: mdSubhead from '../../css/typography.module.css';
	line-height: 20px;
	overflow: hidden;
	padding: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.suggestion span {
	pointer-events: none;
}

/* Suggestions onfocus */
.suggestionHighlighted {
	background-color: black3;
}
