
.Legend {
	border-radius: 6px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2); /* Based on <Card> */
	margin-top: 20px;
	padding: 4px 10px 0;
	overflow: hidden;
	text-align: center;
}


.wrapper {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.footnotes {
	font-size: 12px;
}

.container {
	max-width: 180px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
	margin-right: 4px;
}

.right {
	float: right;
	margin-left: 4px;
}

.center {
	overflow: hidden;
}

.center canvas {
	width: 100%;
}

