
/* Copy bookmark input */
.bookmarkInput {
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed; /* Take input out of flow of app controls */
}

/* Import input */
.importInput[type='file'] {
	display: none;
}
