/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * CSS styling of card avatar, used by wizard, col and ghost cards.
 */

.avatar {
	border-radius: 36px;
	height: 36px;
	line-height: 36px;
	min-width: 36px; /* Required to maintain avatar shape. */
	text-align: center;
	width: 36px;
}
