.crosshairs {
	position: relative;
	pointer-events: none;
	z-index: 999999;
	-webkit-touch-callout: none;
	user-select: none;
}
.crosshair {
	pointer-events: none;
	-webkit-touch-callout: none;
	user-select: none;
	background-image:url('./dots.gif');
}
.crosshairH {
	height: 1px;
	left: 0;
	width: 100%;
	position: fixed;
}
.crosshairV {
	width: 1px;
	position: absolute;
	bottom: 0;
	z-index: 999999;
}
