.DefaultTextInput input {
	height: 22px;
	padding: 1px;
	border-width: 0;
	text-overflow: ellipsis;
	box-shadow: none;
}

.DefaultTextInput input:focus {
	border-width: 2px;
}

.DefaultTextInput input:hover {
	border-width: 2px;
}
