
button.mainDialogClose {
	background-color: #ffffff;
}

.mainDialogClose:hover {
	background-color: #d3d3d3;
}

.mainDialogClose, .warningDialogClose {
	position: absolute;
	top: 20px;
	right: 30px;
	line-height: 40px;
	height: 40px;
	width: 40px;
	padding: 8px;
	box-sizing: border-box;
}

.mainDialogClose > i, .warningDialogClose > i {
	color: #b6b6b6;
}

div.mainDialog {
	width: 580px;
  height: 400px;
	max-height: inherit;
	padding-top: 10px;
	margin-top: 30px;
	margin-left: calc((100% - 850px) / 2);
}

div.warningDialog {
	width: 600px;
	overflow: auto;
	padding-top: 10px;
	margin-left: calc((100% - 600px) / 2);
	margin-top: 200px;
}

i.buttonIcon {
	margin-right: 10px;
	margin-top: 10px;
	box-sizing: border-box;
	font-size: 18px;
	color: #757575;
}

.buttonText {
	display: inline-block;
	margin-top: -10px;
	color: #757575;
}

div.dialogWrapper {
	display: block;
	position: absolute;
	height: calc(100% - 179px);
	width: 100%;
	top: 64px;
}

div.dialogOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.iframe{
  background-color: white;
}
