
/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS outside of react-card theming API for ghost variable select cards.
 */

@value black12 from '../../css/variables.css';
@value black38 from '../../css/variables.css';

/* Core ghost container */
.GhostVariableSelect {
	border: 1px dashed black38;
	min-height: 645px; /* Must specify minimum height to maintain identical heights across cohort/disease and variable selects during wizard setup. Dupe of WizardCard. */
}

/* Header container - contains avatar */
.headerContainer {
	border-bottom: 1px dashed black12;
	padding: 16px;
}

/* Ghost title */
.title {
	composes: mdCaption from '../../css/typography.module.css';
	align-items: center;
	border-bottom: 1px dashed black12;
	color: black38;
	display: flex;
	height: 61px; /* Includes border */
	padding: 16px;
}
