/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Styles for column legends.
 */


.Legend {
	margin-top: 24px;
}

.column {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12); /* Based on <Card> */
	border-radius: 2px;
}

.label {
	composes: mdCaption from '../../css/typography.module.css';
	display: block;
	margin-left: 20px;
	font-weight: normal; /* BS override */
	overflow: hidden;
	padding: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.colorBox {
	composes: mdCaption from '../../css/typography.module.css';
	float: left;
	margin: 4px;
	height: 15px;
	width: 15px;
	border: 1px;
	border-style: solid;
}

.header {
	display: block;
	text-align: center;
	padding-bottom: 4px;
}

.footnotes {
	composes: mdCaption from '../../css/typography.module.css';
	margin-top: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.null {
	composes: mdCaption from '../../css/typography.module.css';
	display: block;
	text-align: center;
	margin-top: 4px;
}
