.content {
	display: flex;
	flex-direction: row;
	position: relative;
}

.content * {
	flex-grow: 1;
}

/* required to set width of the status overlay */
.graphWrapper {
	position: relative;
	width: 800px;
	height: 800px;
	margin-right: 5px;
	border: 1px solid black;
	cursor: crosshair;
}

.status {
	flex-grow: 1;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	position: absolute;
	z-index: 10;
}

.status img, .status button {
	display: block;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
}

.tooltip {
	position: absolute;
	right: 0;
	top: 28px;
	background-color: #FFFFFF;
	z-index: 10;
	opacity: .6;
}

.tooltip :nth-child(1) span {
    float: right;
    cursor: pointer;
}

.scale {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #FFFFFF;
	z-index: 10;
	opacity: .6;
}

.scale :nth-child(1), .scale :nth-child(3) {
	display: inline-block;
	width: 1px;
	height: 11px;
	background-color: #000000;
}

.scale :nth-child(1) {
	margin-left: 2px;
}

.scale :nth-child(3) {
	margin-right: 2px;
}

.scale :nth-child(2) {
	display: inline-block;
	position: relative;
	bottom: 5px;
	width: 100px;
	height: 1px;
	background-color: #000000;
}

.fps {
	position: absolute;
	right: 0%;
	bottom: 100%;
	color: #B0B0B0
}
