.distributionSlider {
	position: relative;
    line-height: 0;
}

.distributionSlider svg {
    width: 100%;
    height: 35px;
    z-index: -1;
    transform-origin: 50% 50%;
    transform: scale(1, -1);
    pointer-events: none;
}
