/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena sample search component.
 */

@value black12 from '../../css/variables.css';
@value black38 from '../../css/variables.css';

.SampleSearch {
	align-items: center;
	display: flex;
}

/* Filter menu */
.filterMenu {
	margin-left: 4px; /* Match margin-left of app bar icons (to match disabled menu icon) */
}

/* Handle disabled filter menu icon. RTB does not have this functionality out of the box so we have to hand roll here. */
i.menuDisabled {
	color: rgba(0, 0, 0, 0.26) !important; /* match RTB disabled text */
	cursor: default;
}

.dark {
	background: black38;
	color: rgba(0, 0, 0, 0.54); /* some other color? */
}

/* Filter input container */
.inputContainer {
	margin-right: 4px;
	margin-left: 4px;
	padding: 0;
}

/* i is necessary to override material ui display setting */
i.dropDownArrow {
	position: absolute;
	right: 0;
	top: -0.6em;
	display: none;
}

i.hasHistory {
	display: inline-block;
}

.history {
	position: absolute;
	left: 0;
	bottom: auto !important;
	width: 100%;
	z-index: 1; /* not sure why this is needed */
	clip: rect(0, 0, 0, 0);
}

.historyActive {
	clip: unset;
}

.menuItem {
	height: 32px
}

.menuItem span {
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/* Input element - override RT theme (and our own global overrides) */
.inputContainer input {
	border-bottom: 1px solid black12 !important; /* Using important here to override RTB inputElement styles. */
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-overflow: ellipsis;
	width: 400px;
	transition: width 500ms;
}

.picking.inputContainer input {
	width: 800px;
}

.subtitle {
	composes: mdCaption from '../../css/typography.module.css';
	color: black38;
	display: block;
	line-height: 16px;
	overflow: hidden;
	transition: width 500ms;
	white-space: nowrap;
}
