/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena Sheet Control.
 *
 */

@value black3 from '../../css/variables.css';
@value black6 from '../../css/variables.css';
@value black38 from '../../css/variables.css';

/* Animation zoom controls */
.zoomAnimation {
	animation-duration: 1s;
	animation-name: zoomAnimation;
}

/* Animation zoom controls */
@keyframes zoomAnimation {
	0% {opacity: 0;}
	25% {opacity: 0}
	100% {opacity: 1;}
}

/* Status indicator */
.status {
	align-items: center;
	background-color: black3;
	border-radius: 2px;
	cursor: default;
	display: flex;
	height: 20px;
	margin: 2px 4px;
	padding: 0 6px;
}

/* Label and state font */
.label, .state {
	composes: mdCaption from '../../css/typography.module.css';
	letter-spacing: 0.4px;
	line-height: 20px;
}

/* Label */
.label {
	text-transform: uppercase;
}

/* State */
.status > div:not(:first-of-type) {
	margin-left: 4px;
}
