/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena Sheet Control.
 *
 */

@value black3 from '../../css/variables.css';
@value black6 from '../../css/variables.css';
@value black38 from '../../css/variables.css';

/* Status indicator */
.status {
	align-items: center;
	background-color: black3;
	border-radius: 2px;
	cursor: default;
	display: flex;
	height: 20px;
	margin: 2px 4px;
	padding: 0 6px;
}

/* Label and state font */
.label, .state {
	composes: mdCaption from '../../css/typography.module.css';
	letter-spacing: 0.4px;
	line-height: 20px;
}

/* Label */
.label {
	text-transform: uppercase;
}

/* State */
.state {
	margin-left: 4px;
}

/* Close */
.status i {
	color: black38;
	cursor: pointer;
	font-size: 12px;
	margin-left: 8px;
}

/* Close disabled */
.status.disabled i {
	color: black6;
	cursor: default;
}
