.Sortable-container {
    position: relative;
	transition: left 0s;
}

.Sortable-slide {
	transition: left 0.4s ease-in-out;
}

.Sortable {
	vertical-align: top;
	display: inline-table;
}

.Sortable {
	display: flex;
}

.Sortable-handle {
	cursor: move;
}

