/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling welcome bar.
 */

@value appMinWidth from '../../css/variables.css';

.Welcome {
	background-color: var(--color-primary);
	color: white;
	display: flex;
	position: relative;
}

.welcomeIcon {
	display: none;
}

.welcomeText {
	margin: 30px 0 48px 0;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
	height: 100%;
}

.welcomeText a {
	color: white;
	text-decoration: underline;
}

.example {
	height: 48px;
}

.bulletWrapper {
	position: absolute;
	bottom: 0;
	left: 35%;
}

.bullets {
	display: inline-block;
	position: relative;
	cursor: default;
}

.bullet {
	display: inline;
	margin-right: 8px;
	color: gray;
	font-size: 150%;
}

.bulletActive {
	composes: bullet;
	color: white;
}

.closeIcon {
	cursor: pointer;
	font-size: 24px;
	height: 24px;
	position: absolute;
	right: 8px;
	top: 16px;
}

/**
 * Large +
 */
@media screen and (min-width: appMinWidth) {

	.Welcome {
		height: 220px;
	}

	.welcomeText {
		margin: 48px 0 48px 32px;
		align-self: center;
		width: 58.33333333%; /* lg 7 */
	}

	.welcomeIcon {
		display: block;
		flex-basis: 33.33332%; /* lg 4 */
		overflow: hidden;
		padding-left: 0;
		position: relative;
		max-width: 475px; /* Snap at max width of image */
	}

	.imgXena {
		height: 100%;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	.closeIcon {
		right: 24px;
		top: 24px;
	}

	.bulletWrapper {
		left: 57%;
	}
}

/*
 * Custom media query to snap welcome icon to left-hand side, required for larger devices.
 */
@media screen and (min-width: 1425px) {

	/* Snap welcome icon to left-hand side */
	.imgXena {
		left: 0;
		transform: translateX(0%);
	}
}
