/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS styling of MD cards, displayed during wizard setup.
 */

@value black12 from '../../css/variables.css';
@value black38 from '../../css/variables.css';

/* Card actions specific to wizard */
.actions {
	display: flex;
	justify-content: flex-end;
}

/* Wrapper around title and close/cancel icon */
.titleContainer {
	position: relative; /* Positioning of close icon */
	border-bottom: 1px solid black12;
	height: 73px; /* includes border */
	padding: 24px 16px;
}

/* Close icon */
.titleContainer i {
	color: black38;
	cursor: pointer;
	position: absolute;
	right: 14px;
	top: 24px;
}

.title {
	padding: 0 !important; /* Using important here to override cardTitle.large from theme */
}
