/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS styling of MD cards, displayed during wizard setup.
 */

@value black12 from '../../css/variables.css';
@value black38 from '../../css/variables.css';

/* Card actions specific to wizard */
.actions {
	display: flex;
	justify-content: flex-end;
}

/* Wrapper around title and close/cancel icon */
.titleContainer {
	border-bottom: 1px solid black12;
	display: flex;
	height: 73px; /* includes border */
	padding: 24px 16px;
}

/* Close icon */
.titleContainer i {
	color: black38;
	cursor: pointer;
}

.title {
	flex: 1;
	min-width: 0; /* To allow for allipsis of title within the flex */
	padding: 0 !important; /* Using important here to override cardTitle.large from theme */
}

/* Ellipsis on title */
.title > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.WizardCard {
	margin-right :16px; /* Always add 16px to the right of each card as there is no "add column" enabled during wizard (or edit) to force gutter */
}
