/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS outside of react-autosuggest theming API.
 */

@value black38 from '../../css/variables.css';

.XAutosuggest {
	position: relative;
}

.XAutosuggest i {
	color: black38;
	cursor: pointer;
	padding: 16px;
	position: absolute;
	right: 0;
	top: 10px;
}
