/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling standard Xena checkbox group that are outside of the RTB checkbox theming API (for
 * example, displaying a checkbox group in advanced mode where checkboxes are grouped together under a subheading).
 *
 * Note that RTB does not currently have the concept of a "CheckboxGroup", we are rolling our own here to match
 * RTB's RadioGroup.
 */

.XCheckboxGroup {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 12px 16px 24px 16px;
}

/* Subgroup header when in advanced view */
.subgroupHeader {
	composes: mdBody1 from '../../css/typography.module.css';
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	color: rgba(0, 0, 0, 0.87);
	display: block;
	overflow: hidden;
	padding: 32px 0 8px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

/* XXX workaround for long group names */
.subgroupHeader:hover {
	overflow: visible;
}


.subgroupHeader:first-of-type {
	padding-top: 8px;
}

/* Subgroup with assembly */
.withBadge {
	height: unset;
	line-height: 20px;
	margin-bottom: -14px !important; /* Overrides bottom margin RTCheckboxTheme */
}

/* Assembly */
.badge {
	composes: mdCaption from '../../css/typography.module.css';
	font-size: 11px; /* Overrides mdCaption */
	font-weight: 500;
	line-height: 16px;
	margin-top: -4px;
	padding-left: 36px;
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}

.hideBadge .badge {
	opacity: 0;
}
