/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling standard Xena input toolbar, which is displayed above radio groups or checkbox groups.
 */

/* Additional action, eg "Show Detail" or "Hide Detail" */
.additionalAction {
	composes: mdCaption from '../../css/typography.module.css';
	cursor: pointer;
}

/* Field name */
.label {
	composes: mdCaption hint from '../../css/typography.module.css';
}

/* Container for field name and additional action */
.toolbar {
	color: var(--color-accent);
	display: flex;
	justify-content: space-between;
}