/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Styles for listing radio or checkbox meta data, when viewing advanced mode.
 */

.XRadioMeta {
	margin-top: 8px;
	padding-left: 36px;
}

.meta {
	display: flex;
	padding: 8px 0;
}

/* Meta label (key) */
.label:nth-child(1) {
	flex: 0 0 100px;
}

/* Meta value */
.value:nth-child(2) {
	flex: 1 1 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Meta "+ n more" link */
.more:nth-child(3) {
	padding-left: 16px;
	text-align: end;
	white-space: nowrap;
}
