/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * 1. React Toolbox theme for applying global overrides to all RadioGroup and RadioButton components.
 * 2. Rules necessary for styling standard Xena radio group that are outside of the RTB radio group theming API (for
 *    example, styles for the full-width radio group with a border bottom).
 *
 * Uses theme key RTRadio and theme end points to override specific classes. See
 * http://react-toolbox.com/#/components/radio_group for details.
 */

/**
 * Core RTB radio group theming API end points.
 */

/* Wrapper class around radio button and corresponding label */
label.field {
	margin: 16px 0 0 0;
}

label.field:first-child {
	margin-top: 8px;
}

/* Mock radio button circle */
.radio {
	border: 2px solid rgba(0, 0, 0, 0.38);
}

div.radio::before {
	background-color: var(--color-accent); /* Force accent color on blur of radio */
}

div.radioChecked {
	border: 2px solid var(--color-accent);
}

div.radioChecked::before {
	background-color: var(--color-accent);
}

/* Radio button label */
span.text {
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: 400;
	padding-left: 16px;
}

/**
 * Custom classes applied to radio group or radio buttons
 */

.XRadioGroup {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 12px 16px 24px 24px;
}
