/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS styling of zoom overlay.
 */

@value black24 from '../../css/variables.css';

.ZoomOverlay {
	display: flex;
}

/* Vertical drag overlay */
.overlayV {
	background-color: black24;
	left: 0;
	pointer-events: none;
	position: fixed;
	-webkit-touch-callout: none;
	user-select: none;
	width: 100%;
	z-index: 999999;
}

/* Horizontal drag overlay */
.overlayH {
	bottom: 0;
	fill: black24;
	left: 0;
	overflow: visible !important;
	position: absolute;
	width: 100%;
}
