/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Custom CSS styling of zoom help tag.
 */

.zoomHelpTag {
	margin: 8px;
	position: fixed;
	z-index: 999999999;
}

.zoomInstructions {
	background-color: #0F3137;
	border-radius: 2px;
	color: #ffffff;
	padding: 4px 6px;
}
