/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena sample zoom carriage component.
 */

@value black24 from '../../css/variables.css';
@value black54 from '../../css/variables.css';

/* Zoom Carriage */
.zoomCarriage {
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 10px;
}

/* Carriage */
.carriage {
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid black24;
	border-radius: 1px;
	box-sizing: border-box;
	left: -5px;
	position: absolute;
	width: 20px;
	z-index: 100;
}

/* Carriage lines */
.carriageLines {
	border: 0.5px dashed black24;
	left: 15px;
	position: absolute;
}

/* Upper carriage line */
.carriageLines.upper {
	transform-origin: bottom left;
}

/* Lower carriage line */
.carriageLines.lower {
	transform-origin: top left;
}

/* Zoom control */
.zoomCarriage .zoomControl {
	display: none;
}

/* Zoom control - show on zoomCarriage hover */
.zoomCarriage:hover .zoomControl {
	cursor: pointer;
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 101;
}

/* Zoom out icon */
.zoomCarriage:hover .zoomControl i {
	color: black54;
	font-size: 18px;
}

