/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for styling Xena sample zoom indicator component.
 */

@value black24 from '../../css/variables.css';
@value black54 from '../../css/variables.css';

.zoomCarriage {
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 10px;
}
.carriage {
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid black24;
	border-radius: 1px;
	box-sizing: border-box;
	left: -5px;
	position: absolute;
	width: 20px;
	z-index: 100;
}

.carriageLines {
	border: 0.5px dashed black24;
	position: absolute;
	left: 15px;
	transform-origin: bottom left;
}
