/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Font definitions for locally hosted Material Icons and Roboto.  Material Design typography requires Roboto normal @
 * 300, 400, 500.
 * XXX dropped Roboto because it wasn't being used.
 *
 * Must either host our own fonts (or reference from a service such as Google Fonts) as React Toolbox does not include
 * font definitions.
 *
 * This fonts file is included in the core index.css and the rules below are therefore automatically applied to all
 * components.
 */

/* Material Icons */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('./materialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url('./materialIcons/MaterialIcons-Regular.woff2') format('woff2'),
		url('./materialIcons/MaterialIcons-Regular.woff') format('woff'),
		url('./materialIcons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
