/**
 * UCSC Xena Client
 * http://xena.ucsc.edu
 *
 * Rules necessary for wrapper around columns, as well as add column hover functionality on individual columns.
 */

/* Handle add/edit mode of column - must add additional padding during add or edit of column as add column functionality
 * is disabled and default gutter between columns therefore has been removed. */
.addOrEditMode {
	margin-right: 16px;
}

/* The add column components between each col card has a width of 16px except for the final add column component which 
 * has an additional 8px padding left (to prevent it from jamming right up next to the final col card). When add column
 * functionality is disabled (ie when we're adding or editing a column), each column is given a margin right of 16px to 
 * make up for the missing add column components. We must add an additional 8px here to account for the final add column component. */
.addOrEditMode.last {
	margin-right: 24px;
}

/** Handle visualization or wizard mode - add wrapper around column and add column components. */
.visualizationOrWizardMode {
	display: flex;
}

/* During wizard mode, add 16px to the right of each column as there is no "add column" enabled during wizard (or edit) 
 * to force gutter */
.wizardModeMargins {
	margin-right: 16px;
}

/* Scoot column to the left of "add column" component, to the left by 8px */
.hoverLeft :global(.Column) {
	margin-left: -8px;
	margin-right: 8px;
}

/* Scoot column to the right of "add column" component, to the right by 8px */
.hoverRight :global(.Column) {
	margin-left: 8px;
	margin-right: -8px;
}
