.densityPlot {
	margin: 20px;
	width: 230px;
	display: flex;
	flex-wrap: wrap;
	float: left;
}

.densityPlot--row {
	display: inline-block;
}

.densityPlot--row--xAxis {
	height: 1px;
	background-color: black;
	position: relative;
	top: 50%;
	vertical-align: middle;
	z-index: 2;
}

.densityPlot--row--studyA {
	display: flex;
	align-items: flex-end;
	height: 50%;
}

.densityPlot--row--studyB {
	display: flex;
	align-items: flex-end;
	height: 50%;
	bottom: 50%;
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.densityPlot--row--bin {
	display: inline-block;
	position: relative;
	flex: 1;
	margin: 0px;
	float: left;
	z-index: 1;
}

.densityPlot--row--zoom {
	height: 210px;
	display: inline-block;
}
