
.legend-holder {
  float: right;
  margin: 0px 50px;
}

.legend {
    height: 25px;
    color: white;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    padding: 5px;
}

.legend label {
  font-size: 0.85em;
  position: relative;
}

.selectors {
  margin: 5px 20px;
}

.densityplot--label-div--zoom {
  margin-left: 905px;
  position: absolute;
  height: 40px;
  z-index: 10;
  text-align: center;
}
.densityplot--label-x {
  position: absolute;
  font-size: .75em;
  transform: translate(-50%, 0);
  bottom: 0px;
}

.densityplot--label--axis-x {
  height: 1px;
  width: 100%;
  background-color: black;
  bottom: 0px;
  position: absolute;
}

.densityplot--label-y {
  font-size: .85em;
  line-height: 110px;
  -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.densityplot--label-vertical-tick {
  width: 1px;
  height: 4px;
  position: absolute;
  bottom: 0px;
  background-color: black;
}

.densityplot--label-div-zero {
  margin-left: 860px;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 10;
  display: inline-block;
  text-align: center;
}

.densityplot--label-zero {
  font-size: .85em;
  line-height: 10px;
  -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
