.importFileLabel {
	align-items: center;
	cursor: pointer;
    border-radius: 2px;
    height: 48px;
	padding: 0 16px;
    display: inline-flex;
}

.errorLine {
	margin: 0.3em 0 0.6em;
	color: red;
}

.warningLine {
	margin: 0.3em 0 0.6em;
	color: rgb(248, 125, 43);
}

.codeSnippet {
	resize: none;
	border-color: #c1bfbf;
	width: 90%;
}

.denseExample {
	font-size: 0.85em;
    border: 1px solid #cfcdcd;
	background: #fdfdfd;
	margin: 0 auto;
	table-layout: fixed;
    max-width: 100%;
}

.denseExample td {
	padding: 5px;
}

.denseExample .highlighted {
	background: rgb(230, 87, 111);
}
