.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
	padding-top: 20px;
	width: 80%;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.wizardTitle {
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 40px;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    font-size: 25px;
}

.importFileLabel {
	cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    height: 48px;
	padding: 0px 16px;
	margin-right: 30px;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 150px;
}

.stepperBox{
	border-top: 1px solid #cccaca;
    margin-top: 20px;
}

.errorContainer {

}

.wizardButtons {
	padding-top: 20px;
	margin-top: 40px;
    border-top: 1px solid;
}

.field {
	width: 50%;
	padding-right: 5%;
}

.inline {
	display: inline-block;
}

.typeBox {
	display: inline-block;
}

.status {
	float: right;
	margin: 0;
}

.errorLine {
	margin: 0.3em 0 0.6em;
	color: red;
}

.showMore{
	text-decoration-line: underline;
	font-size: 0.9em;
    font-style: italic;
	color: #122d31;
	cursor: pointer;
}

.codeSnippet {
	resize: none;
	border-color: #c1bfbf;
	width: 90%;
}

.denseExample {
	font-size: 0.85em;
    border: 1px solid #cfcdcd;
	background: #fdfdfd;
	margin: 0 auto;
}

.denseExample td {
	padding: 5px;
}

.denseExample .highlighted {
	background: rgb(230, 87, 111);
}



