.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
	padding-top: 20px;
	width: 80%;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.wizardTitle {
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    font-size: 25px;
}

.errorContainer {

}

.field {
	width: 50%;
	padding-right: 5%;
}

.typeBox {
	display: inline-block;
}

.status {
	float: right;
	margin: 0;
}

.errorLine {
	margin: 0.3em 0 0.6em;
	color: red;
}

.showMore{
	text-decoration-line: underline;
	font-size: 14px;
    font-style: italic;
	color: #122d31;
	cursor: pointer;
}

.codeSnippet {
	resize: none;
	border-color: #c1bfbf;
	width: 90%;
}
