%table
  %tbody
    - if (vertical) {
      - _.each(colors, function (color, i) {
        %tr
          %td{class:'color', title:tooltips[i], style:'background-color:' + color + ';color:' + textColors[i] + ';text-align:' + align} =labels[i]
	- if (!vertical) {
      %tr
        - _.each(colors, function (color, i) {
          %td{class:'color', title:tooltips[i], style:'background-color:' + color + ';color:' + textColors[i] + ';text-align:' + align} =labels[i]
