- _.each(colors, function (color, i) {
  %tr
    %td{class:'colorTd', colspan:2}
      %input{class:'color ' + align, type:'text', value:labels[i], title:tooltips[i], style:'background-color:' + color + ';color:' + textColors[i] + ';text-align:' + align, readonly:true}
