%table
  %tbody
    %tr{class:'static'}
      %td{class:'tupleLabel'} Dataset:
      %td{class:'tupleValue', style:'width:550px'}
        %select{class:'dataset'}
          %option
          - _.each(sources, function (source) {
            %optgroup{label:source.title}
              - _.each(source.datasets, function (d) {
                %option{value:d.dsID} =d.title

    %tr{class:'inputModeRow', style:'display:none'}
      %td{class:'tupleLabel'} Input:
      %td{class:'inputModeAnchor tupleValue'}

    %tr{class:'listRow', style:'display:none'}
      %td{class:'listLabel tupleLabel'}
      %td
        %textarea{class:'list', rows:7, columns:40}

    %tr{class:'singleRow', style:'display:none'}
      %td{class:'singleLabel tupleLabel'}
      %td
        %input{class:'single', type:'text', columns:40}
        %span{class:'singleMsg'}

    %tr{class:'selectRow', style:'display:none'}
      %td{class:'selectLabel tupleLabel'}
      %td{class:'selectAnchor tupleValue'}

    %tr{class:'displayModeRow', style:'display:none'}
      %td{class:'tupleLabel'} Display as:
      %td{class:'displayModeAnchor tupleValue'}

    %tr{class:'titleRow', style:'display:none'}
      %td{class:'tupleLabel'} Title:
      %td{class:'tupleValue'}
        %input{class:'columnTitle'}

    %tr{class:'goRow', style:'display:none'}
      %td
      %td{class:'tupleValue'}
        %button{class:'go'} Apply
