%table
  %tbody
    %tr
      %td{class:'tupleLabel'} Dataset:
      %td{class:'tupleValue', style:'width:550px'}
        %select{id:datasetSelectId, class:'datasetSelect'}
          %option
          - _.each(datasets, function (f) {
            %option{value:f.name} =f.title
          %option{value:'more'} More...
    %tr{style:'display:none'}
      %td{class:'geneValues tupleValue', colspan:2}
        %select{id:geneSelectId, class:'geneSelect'}
          - _.each(genes, function (gene) {
            %option{value:gene} =gene
        %input{class:'geneInput'}
    %tr{class:'modeRow', style:'display:none'}
      %td{class:'tupleLabel'} Input:
      %td{class:'mode tupleValue'}
    %tr{style:'display:none'}
      %td{class:'tupleLabel'} Feature:
      %td{class:'tupleValue'}
        %select{id:featureSelectId, class:'featureSelect'}
          - _.each(features, function (f) {
            %option{value:f.name} =f.title
    %tr{style:'display:none'}
      %td{class:'tupleLabel'} Title:
      %td{class:'tupleValue'}
        %input{class:'columnTitleEdit'}
    %tr{style:'display:none'}
      %td
      %td{class:'tupleValue'}
        %button{class:'go'} OK
