%ul{class:'columnMenu list', style:'overflow:visible'}
  %li{class:'view opt'}
    %span Display
    %span{class:'ui-icon ui-icon-play'}
    %ul{class:'viewList opt'}
      %li{class:'detail opt'}
        %span{class:'ui-icon ui-icon-check'}
        %span Detail
      %li{class:'geneAverage opt'}
        %span{class:'ui-icon ui-icon-check'}
        %span Gene Average
      %li{class:'impact opt'}
        %span{class:'ui-icon ui-icon-check'}
        %span Mutation Type
      %li{class:'dna_vaf opt'}
        %span{class:'ui-icon ui-icon-check'}
        %span DNA Variant Allele Frequency
      %li{class:'rna_vaf opt'}
        %span{class:'ui-icon ui-icon-check'}
        %span RNA Variant Allele Frequency
  %li{class:'kmPlot opt'} Kaplan-Meier Plot
  %li{class:'mupit opt'} MuPIT View
  %li{class:'edit opt'} Edit
  %li{class:'duplicate opt'} Duplicate
  %li{class:'download non-opt'} Download
  %li{class:'about non-opt'} About the Dataset
  %li{class:'remove non-opt'} Remove
