%div{class:'filter'}
  %div{class: 'subHeader'}
    %span Cohort:
    %span{class:'label'} =cohort
  %div{class: 'subHeader', style:'margin-bottom:10px'}
    %span Dataset:
    %span{class:'label'} =dataset
  %table
    %tbody
        %td
          %span Displayed Columns:
        %td{colspan:2} Filter
      %tr
        %td{colspan:7}
          %hr{width:'100%'}
      %tr{class:'footer', style:'margin-top:10px'}
        %td{colspan:7}
          %button{class:'close'} Close
          %button{class:'update'} Update Map
