%table
  %tbody
    %tr{class:'static'}
      %td{class:'tupleLabel'} Dataset:
      %td{class:'tupleValue', style:'width:550px'}
        %select{class:'dataset'}
          %option
          - _.each(datasets, function (f) {
            %option{value:f.dsID} =f.title
          -# %option{value:'more'} More...

    %tr{class:'inputModeRow', style:'display:none'}
      %td{class:'tupleLabel'} Input:
      %td{class:'inputModeAnchor tupleValue'}

    %tr{class:'listRow', style:'display:none'}
      %td
      %td
        %textarea{class:'list', rows:7, columns:40}

    %tr{class:'chromRow', style:'display:none'}
      %td
      %td
        %input{class:'chrom', type:'text', columns:40}

    %tr{class:'displayModeRow', style:'display:none'}
      %td{class:'tupleLabel'} Display as:
      %td{class:'displayModeAnchor tupleValue'}

    %tr{class:'columnTitleRow', style:'display:none'}
      %td{class:'tupleLabel'} Title:
      %td{class:'tupleValue'}
        %input{class:'columnTitleEdit'}

    %tr{style:'display:none'}
      %td
      %td{class:'tupleValue'}
        %button{class:'go'} OK
