%ul{class:'columnMenu list'}
  - if (type === "exonSparse") {
    %li{class:'mupit'} MuPIT View
  %hr{style:'display:none;width:100%'}
  %li{class:'edit', style:'display:none'} Edit
  %li{class:'duplicate', style:'display:none'} Duplicate
  %li{class:'download'} Download
  %li{class:'remove'} Remove
