%ul{class:'columnMenu list'}
  %li{class:'mupit', style:'display:none'} MuPIT View
  %hr{style:'display:none;width:100%'}
  %li{class:'edit', style:'display:none'} Edit
  %li{class:'duplicate', style:'display:none'} Duplicate
  %li{class:'remove'} Remove
