%table{class:'columnUi'}

  %tr
    %td{colspan:2}
      %span{class:'more hoverShow recede menu ui-icon ui-icon-triangle-1-s', title:'More...', style:'float:right'}
      %div{style:'clear:both'}

  %tr
    %td{colspan:2}
      %input{class:'columnTitle recede', type:'text'}

  %tr{class:'fieldRow lastHeaderRow'}
    %td{colspan:2}
      %input{class:'field recede', type:'text'}

  -#%tr{class:'plotAlignRow', style:'display:none'}
    -#%td{class:'plotAlign', colspan:2}

  %tr
    %td{class:'sampleSidebar sidebar'}
    %td{class:'samplePlot plot',}

  -#%tr{class:'haloFillerRow'}
    -#%td{class:'haloFiller', colspan:2}

  %tr{style:'display:none'}
    %td{colspan:2} =debugId
