%table{class:'columnUi'}

  %tr{class:'header'}
    %td{colspan:2}
      -# %input{class:'columnTitle', type:'text'}
      %span{class:'more menu ui-icon ui-icon-triangle-1-s', title:'More...', style:'float:right'}
      %div{style:'clear:both'}

  %tr{style:'vertical-align:bottom'}
    %td{class:'sampleSidebar sidebar'}
    %td{class:'samplePlot plot',}
