%table
  %tbody
    %tr{class:'static'}
      %td{class:'tupleLabel'} Dataset:
      %td{class:'tupleValue', style:'width:550px'}
        %select{class:'dataset'}

    - _.each(inputModes, function (mode, i) {
      %tr{class:'inputModeRow', style:'display:none'}
        - if (i < 1) {
          %td{class:'tupleLabel'} Input:
        - } else {
          %td
        %td{class:'inputMode' + i + 'td tupleValue'}
          %label
            %input{class:'inputMode inputMode' + i, name:'inputMode', type:'radio', value:mode} =mode

    %tr{class:'listRow', style:'display:none'}
      %td{class:'listLabel tupleLabel'}
      %td{class:'egValueTd tupleValue'}
        %textarea{class:'list', rows:7}
    %tr{class:'listRow', style:'display:none'}
      %td
      %td{class:'listEg eg tupleValue'}

    %tr{class:'singleRow', style:'display:none'}
      %td{class:'singleLabel tupleLabel'}
      %td{class:'egValueTd tupleValue'}
        %input{class:'single', type:'text', columns:40}
        %span{class:'singleMsg'}
    %tr{class:'singleRow', style:'display:none'}
      %td
      %td{class:'singleEg eg tupleValue'}

    %tr{class:'selectRow', style:'display:none'}
      %td{class:'selectLabel tupleLabel'}
      %td{class:'selectAnchor tupleValue'}

    %tr{class:'goRow', style:'display:none'}
      %td
      %td{class:'tupleValue'}
        %button{class:'go'} Apply
