%select{class:'dataset'}
  %option{value:''} =placeholder
  - _.each(sources, function (source) {
    %optgroup{label:source.title}
      - _.each(source.datasets, function (d) {
        - if (d.type !== 'probeMap' && d.type !== 'genePredExt') {
          %option{value:encodeURIComponent(d.dsID)} =d.title
