%div{class:'kmDialog'}
  %div{class: 'kmdiv'}
    %div
      %svg{class:'kmplot'}
      %div{class:'kmScreen'}
    %div{class:'kmopts'}
      %div
        %table{class: 'kmOpts'}
          %tr
            %td{class: 'tupleLabel'} Event Column:
            %td{class: 'tupleValue'}
              %select{class: 'eventfeature'}
          %tr
            %td{class: 'tupleLabel'} Time Column:
            %td{class: 'tupleValue'}
              %select{class: 'timefeature'}
  %div
    %span{class:'featureLabel'}
    %span Switch to
    %button{class:'labelbutton'} hide labels
    %span
      %a{href: "https://goo.gl/TSQt6z", target: '_BLANK'} ="Help"
    %span
      %a{style:'padding-left:40px', href:"mailto:genome-cancer@soe.ucsc.edu?subject=I wish the Xena Kaplan-Meier plot would ..."} I wish this would ...
      -#%a{class:'wish right', style:'padding-top:5px;padding-right:20px', href:"mailto:genome-cancer@soe.ucsc.edu?subject=I wish the Xena Kaplan-Meier plot would ..."} I wish this would ...
    -#%button{class:'help right'} Help
    -#%button{class: 'kmoptsbutton right', style:'margin-right:10px'} Advanced Options
	-#%div{style:'clear:both'}
