%select{class:klass}
  - if (labels) {
    - _.each(options, function (option) {
      %option{value:option} =labels[option]
  - if (!labels) {
    - _.each(options, function (val, key) {
      %option{value:key} =val
