%div{class:'sheetWrap'}
  %div{class:'header'}
    %label Cohort:
      %select{class:'cohort'}
    %label Data Sources:
      %input{class:'sources', type:'text', value:'localhost, cancerdb.ucsc.edu'}
  %div
    -# %button{class:'showLegend'}Legend
    %div{id:'testing', class:'spreadsheet'}
    %span{class:'addColumn', style:'display:none'} +
  %div{class:'crosshairH crosshair'}
  %div{class:'debug'}
