%div{class:'sheetWrap'}
  %div{class:'header'}
    %label{class:'cohortAnchor'} Cohort
    %label{class:'samplesFromAnchor'} | Samples in
    = "|"
    %button{class:'chartSelect'} Chart
    %div{style:'clear:both'}
  %div{class:'chartRoot', style:'display:none'}
  %table{class:'heatmapRoot'}
    %tr
      %td
        %div{class:'yAxisLabel'}
      %td{class:'body'}
        %div{id:'spreadsheet', class:'spreadsheet'}
          %div{class:'crosshairH crosshair'}
        %span{class:'addColumn', style:'display:none'} +
  %div{class:'debug', style:'display:none;margin-top:10px'}
