%div{class:'sheetWrap'}
  %div{class:'header'}
    %label{class:'cohortAnchor'} Select samples from cohort
    %label{class:'samplesFromAnchor'} with values in
    %div{style:'clear:both'}
  %table
    %tr
      %td
        %div{class:'yAxisLabel'}
      %td{class:'body'}
        %div{id:'spreadsheet', class:'spreadsheet'}
          %div{class:'crosshairH crosshair'}
        %span{class:'addColumn', style:'display:none'} +
  %div{class:'debug', style:'display:none;margin-top:10px'}
