%div{class:'sheetWrap'}
  %div{class:'header'}
    %label{class:'cohortAnchor'} Cohort:
    %label{class:'samplesFromAnchor'} Samples from:
    %label Data Sources:
      %input{class:'servers', type:'text', title:'Comma-separated list of data servers, in the form "server:port" or "server" if port is 7222'}
  %table
    %tr
      %td
        %div{class:'yAxisLabel'}
      %td{class:'body'}
        %div{id:'spreadsheet', class:'spreadsheet'}
          %div{class:'crosshairH crosshair'}
        %span{class:'addColumn', style:'display:none'} +
  %div{class:'debug', style:'display:none;margin-top:10px'}
