%div{class:'sheetWrap'}
  %div{style:'display:none'}
    %input{class:'sheetTitle', type:'text'}
  %div
    -# %button{class:'showLegend'}Legend
    %div{id:'testing', class:'spreadsheet'}
    %span{class:'addColumn'} +
  %div{class:'crosshairH crosshair'}
  %div{class:'debug'}
