%tr
    %td{colspan:4}
      %hr
  %tr
    %td{class:'sectionLabel'}
      %span Generate Statistics
      %a{href:'../statsInfo/', target:'_blank'}
        %span{class:'ui-icon ui-icon-info', title:'About statistics'}
    %td{colspan:3}
      %table
        %tr{class:'featureStatsRow'}
          %td{class:'tupleLabel'}
            Test:
          %td{class:'featureStatsCell tupleValue'}
            %select{class:'statsMethod'}
              - _(statsMethods).each(function(m) {
                - if (m.name === selectedMethod) {
                  %option{value:m.name, selected:'selected'} #{m.description}
                - } else {
                  %option{value:m.name} #{m.description}
        %tr
          %td{class:'tupleLabel'}
            Correction:
          %td{class:'tupleValue'}
            %select{class:'statsCorrection'}
              - _(correctionMethods).each(function(method) {
                - if (method.name === selectedCorrection) {
                  %option{value:method.name, selected:'selected'} #{method.description}
                - } else {
                  %option{value:method.name} #{method.description}
        %tr
          %td
          %td{class:'showStatsClickable tupleValue'}
            %label
              %input{class:'showStats', type:'checkbox', checked: showStats}
              Show Statistics
