%table
    %colgroup
      %col{class:'valueCol'}
      %col{class:'closeCol'}

    - if (sampleID) {
      %tr
        %td{class: 'sampleID'} = sampleID
    - _.each(rows, function(r, i) {
      %tr
        - if (r.label) {
          %td
           = r.label+" : "
           %span{class: 'tupleValue'} = r.val
        - } else {
          %td{class: 'tupleValue'} = r.val
    %tr
      %td{id:'tooltipPrompt', class:'tooltipPrompt'}
