%table
    %colgroup
      %col{class:'labelCol'}
      %col{class:'valueCol'}
      %col{class:'closeCol'}

    - _.each(rows, function(r, i) {
      %tr
        - if (r.label) {
          %td{class: 'tupleLabel'} = r.label + ':'
        - } else {
          %td
        %td{id: r.val + 'Val', class: 'tupleValue', colspan:2} = r.val

    - if (sampleID) {
      %tr
        %td{class: 'tupleLabel'} Sample:
        %td{class: 'tupleValue'} = sampleID
	    %td
    %tr
      %td
      %td{id:'tooltipPrompt', class:'tupleValue', colspan:2}
