%table
    %colgroup
      %col{class:'valueCol'}
      %col{class:'closeCol'}

    - if (sampleID) {
      %tr
        %td{class: 'tupleValue', colspan:2} = sampleID
        %td{id:'tooltipPrompt', class:'tupleValue'}

    - _.each(rows, function(r, i) {
      %tr
        - if (r.label) {
          %td{class: 'tupleValue',colspan:3} = r.label + ' : ' + r.val
        - } else {
          %td{class: 'tupleValue',colspan:2} = r.val
